a {
	color: #5D5D9E;
}

a:visited {
	color: #5D5D9E;
}

a:active {
	color: #5C615E;
}

a:hover {
	color: #B2B3B4;
}

a.wsp508c6e15 {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:visited {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:active {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:hover {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp2e18e390 {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:visited {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:active {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:hover {
	color: #666666;
	text-decoration: none
}

body {
	background: none;
	padding: 0;
	margin: 0;
}

.textstyle1 {
	text-align: left;
}

#container_7d022765 {
	box-sizing: border-box;
	position: absolute;
	left: 10%;
	top: 5%;
	width: 88%;
	min-height: 658px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
}

#container_7d022765_padding {
	margin: 10px;
	display: block;
}

#img_2bc926a0 {
	position: absolute;
	left: 1%;
	top: 0%;
	width: 78px;
	background: none;
}

#text_61c472e7 {
	position: absolute;
	left: 11%;
	top: 3%;
	width: 87%;
	height: 33px;
	background: none;
}

.textstyle2 {
	text-align: center;
}

.textstyle3 {
	font-size: 18pt;
	font-family: 'Open Sans';
	color: #434343;
}

#container_ea3b47e {
	box-sizing: border-box;
	position: absolute;
	left: 1%;
	top: 12%;
	width: 98%;
	min-height: 1px;
	background: none;
	border: 1px solid #DDDDDD;
}

#form_4b4e21bc {
	box-sizing: border-box;
	border-radius: 9px;
	position: absolute;
	left: 2%;
	top: 15%;
	width: 96%;
	min-height: 400px;
	background: none;
	border: 1px solid #DDDDDD;
}

#form_4b4e21bc_padding {
	margin: 10px;
	display: block;
}

#edit_4a065c39 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 1%;
	top: 6%;
	width: 48%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_7b547ce0 {
	position: absolute;
	left: 1%;
	top: 0%;
	background: none;
}

.textstyle4 {
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_50c906c2 {
	position: absolute;
	left: 78%;
	top: 0%;
	background: none;
}

#text_73bda0f4 {
	position: absolute;
	left: 1%;
	top: 30%;
	background: none;
}

#edit_3c89489e {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 1%;
	top: 35%;
	width: 20%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#edit_16feeedf {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 1%;
	top: 51%;
	width: 35%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_428514aa {
	position: absolute;
	left: 1%;
	top: 45%;
	background: none;
}

#text_3a687b5a {
	position: absolute;
	left: 37%;
	top: 45%;
	background: none;
}

#edit_2cec44a1 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 37%;
	top: 51%;
	width: 35%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#edit_5bfa6758 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 74%;
	top: 51%;
	width: 24%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_36e1e858 {
	position: absolute;
	left: 74%;
	top: 45%;
	background: none;
}

#text_73249144 {
	position: absolute;
	left: 1%;
	top: 60%;
	background: none;
}

#text_2238b7f8 {
	position: absolute;
	left: 201px;
	top: 60%;
	background: none;
}

#text_15ebf00e {
	position: absolute;
	left: 52%;
	top: 60%;
	background: none;
}

#combo_38d296dd {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 1%;
	top: 66%;
	width: 23%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#combo_7d48d734 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 25%;
	top: 66%;
	width: 25%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#combo_491a62e6 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 52%;
	top: 66%;
	width: 25%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#edit_7e4f3457 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 79%;
	top: 66%;
	width: 19%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_466424f6 {
	position: absolute;
	left: 79%;
	top: 60%;
	background: none;
}

#edit_74cc30ce {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 51%;
	top: 6%;
	width: 25%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_594abb12 {
	position: absolute;
	left: 51%;
	top: 0%;
	background: none;
}

#text_60dba8b2 {
	position: absolute;
	left: 1%;
	top: 15%;
	background: none;
}

#text_68473273 {
	position: absolute;
	left: 51%;
	top: 15%;
	background: none;
}

#edit_238231e9 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 51%;
	top: 21%;
	width: 11%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_24b03f36 {
	position: absolute;
	left: 65%;
	top: 15%;
	background: none;
}

#edit_5d96740 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 65%;
	top: 21%;
	width: 11%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#combo_9e2d23b {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 78%;
	top: 6%;
	width: 21%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#combo_247160fb {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 1%;
	top: 21%;
	width: 30%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_5acfb01a {
	position: absolute;
	left: 78%;
	top: 15%;
	background: none;
}

#edit_7883ba7c {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 78%;
	top: 21%;
	width: 10%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_3eca7aab {
	position: absolute;
	left: 89%;
	top: 15%;
	background: none;
}

#edit_25c634d8 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 89%;
	top: 21%;
	width: 10%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#edit_76461fe4 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 22%;
	top: 35%;
	width: 27%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_37f1edb3 {
	position: absolute;
	left: 22%;
	top: 30%;
	background: none;
}

#edit_756977fa {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 51%;
	top: 35%;
	width: 24%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_12077a6 {
	position: absolute;
	left: 51%;
	top: 30%;
	background: none;
}

#edit_1e24092a {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 76%;
	top: 35%;
	width: 23%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_78250f0d {
	position: absolute;
	left: 76%;
	top: 30%;
	background: none;
}

#text_6409f847 {
	position: absolute;
	left: 32%;
	top: 15%;
	background: none;
}

#combo_b2041cc {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 32%;
	top: 21%;
	width: 17%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#edit_74acef95 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 1%;
	top: 82%;
	width: 48%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_713f3ccf {
	position: absolute;
	left: 1%;
	top: 76%;
	background: none;
}

#edit_3830d4d5 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 52%;
	top: 82%;
	width: 23%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_322a2f93 {
	position: absolute;
	left: 52%;
	top: 76%;
	background: none;
}

#edit_4b58d6fd {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 77%;
	top: 82%;
	width: 22%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_25b8112d {
	position: absolute;
	left: 77%;
	top: 76%;
	background: none;
}

#button_6e42984b {
	box-sizing: border-box;
	position: absolute;
	left: 60%;
	top: 91%;
	width: 15%;
	height: 30px;
	background-color: #2279BE;
	border: 0px solid #404040;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
	font-weight: bold;
}

#button_5ef93a62 {
	box-sizing: border-box;
	position: absolute;
	left: 78%;
	top: 91%;
	width: 20%;
	height: 30px;
	background-color: #62AA11;
	border: 0px solid #404040;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
	font-weight: bold;
}

#form_5806d7d8 {
	box-sizing: border-box;
	position: absolute;
	left: 2%;
	top: 80%;
	width: 96%;
	min-height: 122px;
	background: none;
	border: 1px solid #DDDDDD;
}

#text_4447d3e4 {
	position: absolute;
	left: 1%;
	top: 5%;
	background: none;
}

.textstyle5 {
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #434343;
	font-weight: bold;
}

#button_49cb463c {
	box-sizing: border-box;
	position: absolute;
	left: 1%;
	top: 63%;
	width: 80px;
	height: 30px;
	background-color: #62AA11;
	border: 0px solid #404040;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
	font-weight: bold;
}

#container_1ab19497 {
	box-sizing: border-box;
	border-radius: 6px;
	position: absolute;
	left: 1%;
	top: 25%;
	width: 96%;
	min-height: 38px;
	background: none;
	border: 1px solid #DDDDDD;
}

#button_113dc287 {
	box-sizing: border-box;
	position: absolute;
	left: 90%;
	top: 13%;
	width: 50px;
	height: 30px;
	min-width: 80px;
	background-color: #2279BE;
	border: 0px solid #404040;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
	font-weight: bold;
}

@media only screen and (max-width: 926px) {
	#container_7d022765 {
		min-height: 1300px;
	}
	#container_ea3b47e {
		left: 1%;
		top: 6%;
	}
	#form_4b4e21bc {
		min-height: 1000px;
		left: 2%;
		top: 8%;
	}
	#edit_4a065c39 {
		width: 98%;
		left: 1%;
		top: 2%;
	}
	#text_50c906c2 {
		left: 1%;
		top: 12%;
	}
	#text_73bda0f4 {
		left: 1%;
		top: 36%;
	}
	#edit_3c89489e {
		left: 1%;
		top: 38%;
		width: 98%;
	}
	#edit_16feeedf {
		left: 1%;
		top: 56%;
		width: 98%;
	}
	#text_428514aa {
		left: 1%;
		top: 54%;
	}
	#text_3a687b5a {
		left: 1%;
		top: 60%;
	}
	#edit_2cec44a1 {
		left: 1%;
		top: 62%;
		width: 98%;
	}
	#edit_5bfa6758 {
		left: 1%;
		top: 68%;
		width: 48%;
		height: 30px;
	}
	#text_36e1e858 {
		left: 1%;
		top: 66%;
	}
	#text_73249144 {
		left: 50%;
		top: 66%;
	}
	#text_2238b7f8 {
		left: 1%;
		top: 72%;
	}
	#text_15ebf00e {
		left: 50%;
		top: 72%;
	}
	#combo_38d296dd {
		left: 50%;
		top: 68%;
		width: 48%;
	}
	#combo_7d48d734 {
		left: 1%;
		top: 74%;
		width: 48%;
		height: 30px;
	}
	#combo_491a62e6 {
		left: 50%;
		top: 74%;
		width: 48%;
	}
	#edit_7e4f3457 {
		left: 1%;
		top: 80%;
		width: 98%;
	}
	#text_466424f6 {
		left: 1%;
		top: 78%;
	}
	#edit_74cc30ce {
		width: 98%;
		left: 1%;
		top: 8%;
	}
	#text_594abb12 {
		left: 1%;
		top: 6%;
	}
	#text_60dba8b2 {
		left: 1%;
		top: 18%;
	}
	#text_68473273 {
		left: 1%;
		top: 24%;
	}
	#edit_238231e9 {
		left: 1%;
		top: 26%;
		width: 48%;
		height: 30px;
	}
	#text_24b03f36 {
		left: 50%;
		top: 24%;
	}
	#edit_5d96740 {
		left: 50%;
		top: 26%;
		width: 48%;
	}
	#combo_9e2d23b {
		left: 1%;
		top: 14%;
		width: 98%;
	}
	#combo_247160fb {
		left: 1%;
		top: 20%;
		width: 77%;
	}
	#text_5acfb01a {
		left: 1%;
		top: 30%;
	}
	#edit_7883ba7c {
		left: 1%;
		top: 32%;
		width: 48%;
	}
	#text_3eca7aab {
		left: 50%;
		top: 30%;
	}
	#edit_25c634d8 {
		left: 50%;
		top: 32%;
		width: 48%;
	}
	#edit_76461fe4 {
		left: 1%;
		top: 44%;
		width: 98%;
	}
	#text_37f1edb3 {
		left: 1%;
		top: 42%;
	}
	#edit_756977fa {
		left: 1%;
		top: 50%;
		width: 48%;
	}
	#text_12077a6 {
		left: 1%;
		top: 48%;
	}
	#edit_1e24092a {
		left: 50%;
		top: 50%;
		width: 48%;
	}
	#text_78250f0d {
		left: 50%;
		top: 48%;
	}
	#text_6409f847 {
		left: 80%;
		top: 18%;
	}
	#combo_b2041cc {
		left: 80%;
		top: 20%;
		width: 18%;
	}
	#edit_74acef95 {
		left: 1%;
		top: 86%;
		width: 98%;
	}
	#text_713f3ccf {
		left: 1%;
		top: 84%;
	}
	#edit_3830d4d5 {
		left: 1%;
		top: 92%;
		width: 48%;
	}
	#text_322a2f93 {
		left: 1%;
		top: 90%;
	}
	#edit_4b58d6fd {
		width: 48%;
		left: 50%;
		top: 92%;
	}
	#text_25b8112d {
		left: 50%;
		top: 90%;
	}
	#button_6e42984b {
		left: 1%;
		top: 97%;
		width: 30%;
	}
	#button_5ef93a62 {
		left: 34%;
		top: 97%;
		width: 64%;
	}
	#form_5806d7d8 {
		left: 2%;
		top: 88%;
		min-height: 150px;
	}
	#button_49cb463c {
		left: 1%;
		top: 72%;
	}
	#container_1ab19497 {
		left: 1%;
		top: 38%;
	}
}

@media only screen and (max-width: 711px) {
	#button_113dc287 {
		left: 85%;
		top: 13%;
	}
}

@media only screen and (max-width: 459px) {
	#button_113dc287 {
		left: 70%;
		top: 13%;
	}
}

@media only screen and (max-width: 354px) {
	#text_61c472e7 {
		left: 28%;
		top: 1%;
		width: 60%;
	}
}