a {
	color: #5D5D9E;
}

a:visited {
	color: #5D5D9E;
}

a:active {
	color: #5C615E;
}

a:hover {
	color: #B2B3B4;
}

a.wsp508c6e15 {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:visited {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:active {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:hover {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp2e18e390 {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:visited {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:active {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:hover {
	color: #666666;
	text-decoration: none
}

body {
	background-color: #FFFFFF;
	padding: 0;
	margin: 0;
}

.textstyle1 {
	text-align: left;
}

#container_3e5c814 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 666px;
	background-color: #000000;
}

#container_3e5c814_padding {
	margin: 10px;
	display: block;
}

#img_883c02f {
	position: absolute;
	left: 63%;
	top: 20%;
	width: 35%;
	background: none;
}

#text_6e3a76ce {
	position: absolute;
	left: 83%;
	top: 7%;
	background: none;
}

.textstyle2 {
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
}

#text_1e714477 {
	position: absolute;
	left: 89%;
	top: 7%;
	background: none;
}

#container_744bd6fd {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 63%;
	min-height: 666px;
	background-color: #F8F8F8;
}

#container_744bd6fd_padding {
	margin: 10px;
	display: block;
}

#form_5640478c {
	border-radius: 2px;
	position: absolute;
	left: 16%;
	top: 20%;
	width: 66%;
	min-height: 401px;
	background: none;
}

#form_5640478c_padding {
	margin: 10px;
	display: block;
}

#text_27858737 {
	position: absolute;
	left: 0%;
	top: 3%;
	width: 100%;
	background: none;
}

.textstyle3 {
	text-align: center;
}

.textstyle4 {
	font-size: 28pt;
	font-family: 'Kaushan Script';
	color: #282828;
}

#button_61d4c6b3 {
	box-sizing: border-box;
	border-radius: 3px;
	position: absolute;
	left: 35%;
	top: 65%;
	width: 35%;
	height: 10%;
	background-color: #54861B;
	border: 1px solid #54861B;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
	font-weight: bold;
}

#edit_11e60731 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 10%;
	top: 30%;
	width: 80%;
	height: 10%;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Palatino Linotype';
	color: #434343;
}

#edit_478d810d {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 10%;
	top: 45%;
	width: 80%;
	height: 10%;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Palatino Linotype';
	color: #434343;
}

#text_e35a6f1 {
	position: absolute;
	left: 10%;
	top: 85%;
	background: none;
}

.textstyle5 {
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #666666;
}

#text_f13da55 {
	position: absolute;
	left: 65%;
	top: 85%;
	background: none;
}

.error {
	position: absolute;
	width: 60%;
	left: 20%;
	top: 100%;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #ffffff;
	background: #986767;
}

@media only screen and (max-width: 796px) {
	#text_6e3a76ce {
		left: 90%;
		top: 7%;
	}
	#text_1e714477 {
		left: 85%;
		top: 12%;
	}
}

@media only screen and (max-width: 619px) {
	#edit_11e60731 {
		left: 10%;
		top: 32%;
	}
	#text_f13da55 {
		left: 10%;
		top: 95%;
	}
}

@media only screen and (max-width: 594px) {
	#text_1e714477 {
		left: 80%;
		top: 12%;
	}
	#form_5640478c {
		left: 5%;
		top: 20%;
		width: 98%;
	}
}

@media only screen and (max-width: 385px) {
	#img_883c02f {
		left: 60%;
		top: 1%;
		width: 40%;
		height: auto;
	}
	#text_6e3a76ce {
		left: 2%;
		top: 10%;
	}
	#text_1e714477 {
		left: 22%;
		top: 10%;
	}
	#container_744bd6fd {
		min-height: 485px;
		left: 0%;
		top: 32%;
		width: 100%;
	}
	#form_5640478c {
		left: 1%;
		top: 2%;
	}
}