a {
	color: #5D5D9E;
}

a:visited {
	color: #5D5D9E;
}

a:active {
	color: #5C615E;
}

a:hover {
	color: #B2B3B4;
}

a.wsp508c6e15 {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:visited {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:active {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:hover {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp2e18e390 {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:visited {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:active {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:hover {
	color: #666666;
	text-decoration: none
}

body {
	background-color: #000000;
	padding: 0;
	margin: 0;
}

.textstyle1 {
	text-align: left;
}

#container_463b195 {
	box-sizing: border-box;
	position: absolute;
	left: 0%;
	top: 150px;
	width: 100%;
	min-height: 500px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
}

#container_463b195_padding {
	margin: 10px;
	display: block;
}

#img_36a484df {
	position: absolute;
	left: 1%;
	top: 0%;
	width: 78px;
	background: none;
}

#text_1f12468f {
	box-sizing: border-box;
	position: absolute;
	left: 22%;
	top: 1%;
	width: 70%;
	height: 50px;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #DDDDDD;
}

.textstyle2 {
	font-size: 18pt;
	font-family: 'Open Sans';
	color: #434343;
}

#form_1452d9e0 {
	box-sizing: border-box;
	border-radius: 9px;
	position: absolute;
	left: 2%;
	top: 15%;
	width: 96%;
	min-height: 400px;
	background: none;
	border: 1px solid #DDDDDD;
}

#form_1452d9e0_padding {
	margin: 10px;
	display: block;
}

#edit_18875d5 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 1%;
	top: 6%;
	width: 24%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_56509de4 {
	position: absolute;
	left: 1%;
	top: 0%;
	background: none;
}

.textstyle3 {
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_689f80d7 {
	position: absolute;
	left: 78%;
	top: 0%;
	background: none;
}

#text_8503199 {
	position: absolute;
	left: 1%;
	top: 30%;
	background: none;
}

#edit_33203bcd {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 1%;
	top: 35%;
	width: 20%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#edit_6eb4483a {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 1%;
	top: 51%;
	width: 35%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_10b4f0ad {
	position: absolute;
	left: 1%;
	top: 45%;
	background: none;
}

#text_4eccecbb {
	position: absolute;
	left: 37%;
	top: 45%;
	background: none;
}

#edit_792fa85f {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 37%;
	top: 51%;
	width: 35%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#edit_22300da1 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 74%;
	top: 51%;
	width: 24%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_24da48b5 {
	position: absolute;
	left: 74%;
	top: 45%;
	background: none;
}

#text_bfb1bc4 {
	position: absolute;
	left: 1%;
	top: 60%;
	background: none;
}

#text_587a7c3 {
	position: absolute;
	left: 201px;
	top: 60%;
	background: none;
}

#text_5b0b0423 {
	position: absolute;
	left: 52%;
	top: 60%;
	background: none;
}

#combo_4b06cf26 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 1%;
	top: 66%;
	width: 23%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#combo_480d86af {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 25%;
	top: 66%;
	width: 25%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#combo_2e4c9251 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 52%;
	top: 66%;
	width: 25%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#edit_44c02941 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 79%;
	top: 66%;
	width: 19%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_39a1d9ff {
	position: absolute;
	left: 79%;
	top: 60%;
	background: none;
}

#edit_1f9956d1 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 51%;
	top: 6%;
	width: 25%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_6401607d {
	position: absolute;
	left: 51%;
	top: 0%;
	background: none;
}

#text_7b57ff43 {
	position: absolute;
	left: 1%;
	top: 15%;
	background: none;
}

#text_19169f04 {
	position: absolute;
	left: 51%;
	top: 15%;
	background: none;
}

#edit_12cea42e {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 51%;
	top: 21%;
	width: 11%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_3cfe6cf4 {
	position: absolute;
	left: 65%;
	top: 15%;
	background: none;
}

#edit_68a7274f {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 65%;
	top: 21%;
	width: 11%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#combo_7815ff3a {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 78%;
	top: 6%;
	width: 21%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#combo_5f82dcc6 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 1%;
	top: 21%;
	width: 30%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_4d843b85 {
	position: absolute;
	left: 78%;
	top: 15%;
	background: none;
}

#edit_50e02a7f {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 78%;
	top: 21%;
	width: 21%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#edit_4e311527 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 22%;
	top: 35%;
	width: 27%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_6340763b {
	position: absolute;
	left: 22%;
	top: 30%;
	background: none;
}

#edit_73918bef {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 51%;
	top: 35%;
	width: 24%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_62f13322 {
	position: absolute;
	left: 51%;
	top: 30%;
	background: none;
}

#edit_1c06a66 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 76%;
	top: 35%;
	width: 23%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_3277e864 {
	position: absolute;
	left: 76%;
	top: 30%;
	background: none;
}

#text_718c3bb3 {
	position: absolute;
	left: 32%;
	top: 15%;
	background: none;
}

#combo_28905dd7 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 32%;
	top: 21%;
	width: 17%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#edit_c393ca3 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 1%;
	top: 82%;
	width: 48%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_75d29060 {
	position: absolute;
	left: 1%;
	top: 76%;
	background: none;
}

#edit_6bb74e15 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 52%;
	top: 82%;
	width: 23%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_549fc63b {
	position: absolute;
	left: 52%;
	top: 76%;
	background: none;
}

#edit_1c9f04c5 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 77%;
	top: 82%;
	width: 22%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_3dd2ecab {
	position: absolute;
	left: 77%;
	top: 76%;
	background: none;
}

#button_1a28892a {
	box-sizing: border-box;
	position: absolute;
	left: 78%;
	top: 91%;
	width: 20%;
	height: 30px;
	background-color: #62AA11;
	border: 0px solid #404040;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
	font-weight: bold;
}

#container_6b2f4987 {
	position: absolute;
	left: 0%;
	top: 93%;
	width: 70%;
	min-height: 37px;
	background: none;
}

#checkbox_58f4dcf6 {
	position: absolute;
	left: 0%;
	top: 0px;
	width: 20px;
	height: 20px;
}

#text_6a2de037 {
	position: absolute;
	left: 30px;
	top: 2px;
	width: 97%;
	height: 31px;
	background: none;
}

.textstyle4 {
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #000000;
}

#edit_2e714660 {
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	left: 26%;
	top: 6%;
	width: 24%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#text_61e492ed {
	position: absolute;
	left: 26%;
	top: 0%;
	background: none;
}

#container_2e297312 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 150px;
	background: none;
}

#container_14be8ae3 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 20%;
	min-height: 150px;
	max-width: 150px;
	background: none;
}

#img_34b32ac {
	vertical-align: bottom;
	position: relative;
	display: inline-block;
	width: 100%;
	min-width: 150px;
	max-width: 200px;
	background: none;
}

#container_14421059 {
	position: absolute;
	left: 39%;
	top: 11%;
	width: 57%;
	min-height: 50px;
	background: none;
}

#container_14421059_padding {
	margin: 10px;
	display: block;
}

.textstyle5 {
	text-align: right;
}

.textstyle6 {
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
}

@media only screen and (max-width: 926px) {
	#container_463b195 {
		min-height: 1150px;
	}
	#form_1452d9e0 {
		min-height: 1000px;
		left: 2%;
		top: 8%;
	}
	#edit_18875d5 {
		width: 48%;
		left: 1%;
		top: 2%;
	}
	#text_689f80d7 {
		left: 1%;
		top: 12%;
	}
	#text_8503199 {
		left: 1%;
		top: 36%;
	}
	#edit_33203bcd {
		left: 1%;
		top: 38%;
		width: 98%;
	}
	#edit_6eb4483a {
		left: 1%;
		top: 56%;
		width: 98%;
	}
	#text_10b4f0ad {
		left: 1%;
		top: 54%;
	}
	#text_4eccecbb {
		left: 1%;
		top: 60%;
	}
	#edit_792fa85f {
		left: 1%;
		top: 62%;
		width: 98%;
	}
	#edit_22300da1 {
		left: 1%;
		top: 68%;
		width: 48%;
		height: 30px;
	}
	#text_24da48b5 {
		left: 1%;
		top: 66%;
	}
	#text_bfb1bc4 {
		left: 50%;
		top: 66%;
	}
	#text_587a7c3 {
		left: 1%;
		top: 72%;
	}
	#text_5b0b0423 {
		left: 50%;
		top: 72%;
	}
	#combo_4b06cf26 {
		left: 50%;
		top: 68%;
		width: 48%;
	}
	#combo_480d86af {
		left: 1%;
		top: 74%;
		width: 48%;
		height: 30px;
	}
	#combo_2e4c9251 {
		left: 50%;
		top: 74%;
		width: 48%;
	}
	#edit_44c02941 {
		left: 1%;
		top: 80%;
		width: 98%;
	}
	#text_39a1d9ff {
		left: 1%;
		top: 78%;
	}
	#edit_1f9956d1 {
		width: 98%;
		left: 1%;
		top: 8%;
	}
	#text_6401607d {
		left: 1%;
		top: 6%;
	}
	#text_7b57ff43 {
		left: 1%;
		top: 18%;
	}
	#text_19169f04 {
		left: 1%;
		top: 24%;
	}
	#edit_12cea42e {
		left: 1%;
		top: 26%;
		width: 48%;
		height: 30px;
	}
	#text_3cfe6cf4 {
		left: 50%;
		top: 24%;
	}
	#edit_68a7274f {
		left: 50%;
		top: 26%;
		width: 48%;
	}
	#combo_7815ff3a {
		left: 1%;
		top: 14%;
		width: 98%;
	}
	#combo_5f82dcc6 {
		left: 1%;
		top: 20%;
		width: 77%;
	}
	#text_4d843b85 {
		left: 1%;
		top: 30%;
	}
	#edit_50e02a7f {
		left: 1%;
		top: 32%;
		width: 98%;
	}
	#edit_4e311527 {
		left: 1%;
		top: 44%;
		width: 98%;
	}
	#text_6340763b {
		left: 1%;
		top: 42%;
	}
	#edit_73918bef {
		left: 1%;
		top: 50%;
		width: 48%;
	}
	#text_62f13322 {
		left: 1%;
		top: 48%;
	}
	#edit_1c06a66 {
		left: 50%;
		top: 50%;
		width: 48%;
	}
	#text_3277e864 {
		left: 50%;
		top: 48%;
	}
	#text_718c3bb3 {
		left: 80%;
		top: 18%;
	}
	#combo_28905dd7 {
		left: 80%;
		top: 20%;
		width: 18%;
	}
	#edit_c393ca3 {
		left: 1%;
		top: 86%;
		width: 98%;
	}
	#text_75d29060 {
		left: 1%;
		top: 84%;
	}
	#edit_6bb74e15 {
		left: 1%;
		top: 92%;
		width: 48%;
	}
	#text_549fc63b {
		left: 1%;
		top: 90%;
	}
	#edit_1c9f04c5 {
		width: 48%;
		left: 50%;
		top: 92%;
	}
	#text_3dd2ecab {
		left: 50%;
		top: 90%;
	}
	#button_1a28892a {
		left: 70%;
		top: 97%;
		width: 30%;
	}
	#container_6b2f4987 {
		left: 0%;
		top: 96%;
		width: 70%;
	}
	#edit_2e714660 {
		width: 49%;
		left: 50%;
		top: 2%;
	}
	#text_61e492ed {
		left: 50%;
		top: 0%;
	}
}

@media only screen and (max-width: 354px) {
	#text_1f12468f {
		left: 28%;
		top: 1%;
		width: 70%;
		height: 70px;
	}
}