a {
	color: #B2B2B2;
	text-decoration: none
}

a {
	color: #B2B2B2;
	text-decoration: none
}

a {
	color: #B2B2B2;
	text-decoration: none
}

a {
	color: #B2B2B2;
	text-decoration: none
}

body {
	background-color: #FFFFFF;
	padding: 0;
	margin: 0;
}

.textstyle1 {
	text-align: left;
}

#container_4d8b545c {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 51px;
	background-color: #0F0F0F;
}

#container_4d8b545c_padding {
	margin: 10px;
	display: block;
}

#form_673ad8a3 {
	border-radius: 15px;
	position: absolute;
	left: 5%;
	top: 22%;
	width: 30%;
	min-height: 30px;
	min-width: 310px;
	background-color: #272727;
}

#edit_3647c505 {
	box-sizing: border-box;
	position: absolute;
	left: 2%;
	top: 5%;
	width: 100%;
	height: 90%;
	background: none;
	border: 0px solid #A0A0A0;
	font-size: 8pt;
	font-family: 'open sans';
	color: #C2C2C2;
}

#button_8426eec {
	box-sizing: border-box;
	position: absolute;
	left: 90%;
	top: 15%;
	width: 20px;
	height: 20px;
	background-color: #272727;
	background-image: url(assets/search___small.png);
	background-position: center left;
	background-size: cover;
	border: 0px solid #404040;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

#text_7b786532 {
	position: absolute;
	left: 37%;
	top: 30%;
	background: none;
}

.textstyle2 {
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #B2B2B2;
}

#text_423e072a {
	position: absolute;
	left: 43%;
	top: 30%;
	background: none;
}

#text_21c593aa {
	position: absolute;
	left: 54%;
	top: 30%;
	background: none;
}

#text_4d10e638 {
	position: absolute;
	left: 65%;
	top: 30%;
	background: none;
}

#container_1f0f9a1a {
	position: absolute;
	left: 75%;
	top: 20%;
	width: 125px;
	min-height: 32px;
	background: none;
}

#combo_67d4aae8 {
	box-sizing: border-box;
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 90%;
	background-color: rgba(15, 15, 15, 0);
	border: 0px solid #A0A0A0;
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #B2B2B2;
}

#img_38ab7e90 {
	position: absolute;
	left: 76%;
	top: 0%;
	width: 25%;
	background: none;
}

#container_7766e258 {
	position: absolute;
	left: 86%;
	top: 20%;
	width: 14%;
	min-height: 32px;
	background: none;
}

#combo_4e5243f6 {
	box-sizing: border-box;
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 90%;
	background-color: rgba(15, 15, 15, 0);
	border: 0px solid #A0A0A0;
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #B2B2B2;
}

#img_6cb933aa {
	position: absolute;
	left: 80%;
	top: 0%;
	width: 20%;
	background: none;
}

#container_5772fcb4 {
	position: absolute;
	left: 1%;
	top: 20%;
	width: 33px;
	min-height: 32px;
	background: none;
}

#combo_51f99368 {
	box-sizing: border-box;
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 90%;
	background-color: rgba(15, 15, 15, 0);
	border: 0px solid #A0A0A0;
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #B2B2B2;
}

#img_2b3db28c {
	position: absolute;
	left: 14%;
	top: 0%;
	width: 90%;
	background: none;
}

#container_27317a9a {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#container_27317a9a_padding {
	margin: 10px;
	display: block;
}

#container_65033d1b {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#container_65033d1b_padding {
	margin: 10px;
	display: block;
}

#container_4746e9ac {
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 84px;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #DDDDDD;
}

#container_4746e9ac_padding {
	margin: 10px;
	display: block;
}

#container_3424f75b {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 60px;
	background: none;
}

#container_3424f75b_padding {
	margin: 10px;
	display: block;
}

#img_424e875 {
	vertical-align: bottom;
	position: relative;
	display: inline-block;
	float: left;
	width: 60px;
	background: none;
}

.textstyle3 {
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

.textstyle4 {
	font-size: 18pt;
	font-family: 'Open Sans';
	color: #434343;
}

#form_441edaf {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 98%;
	min-height: 100px;
	background: none;
}

#form_441edaf_padding {
	margin: 10px;
	display: block;
}

#form_17498188 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 30px;
	background: none;
}

#form_17498188_padding {
	margin: 10px;
	display: block;
}

#container_101d8633 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 65%;
	min-height: 46px;
	background: none;
}

#container_101d8633_padding {
	margin: 10px;
	display: block;
}

#edit_150ad987 {
	box-sizing: border-box;
	vertical-align: bottom;
	border-radius: 10px;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078);
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #434343;
}

#button_40b210c5 {
	box-sizing: border-box;
	position: absolute;
	left: 90%;
	top: 18%;
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	background-image: url(assets/search___small.png);
	background-position: center left;
	background-size: cover;
	border: 0px solid #404040;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

#container_4b7457a3 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 35%;
	min-height: 46px;
	background: none;
}

#container_4b7457a3_padding {
	margin: 10px;
	display: block;
}

#combo_39554477 {
	box-sizing: border-box;
	vertical-align: bottom;
	border-radius: 10px;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #434343;
}

#form_16ead408 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 98%;
	background: none;
}

#form_16ead408_padding {
	margin: 10px 10px 20px 10px;
	display: block;
}

#container_2fc1947f {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#container_2fc1947f_padding {
	margin: 10px;
	display: block;
}
#container_7044920a_padding {
	margin: 10px;
	display: block;
}

#container_44f6dd16 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#container_44f6dd16_padding {
	margin: 10px;
	display: block;
}

#container_8b58ecd {
	vertical-align: top;
	position: relative;
	display: inline-block;
	float: left;
	width: 20%;
	min-height: 150px;
	min-width: 100px;
	background: none;
}

#container_8b58ecd_padding {
	margin: 10px;
	display: block;
}

#img_3525b0a0 {
	vertical-align: bottom;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#text_1421f90c {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 75%;
	background: none;
}

#text_1421f90c_padding {
	margin: 10px;
	display: block;
}

#text_5e28f376 {
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
	border-top: 1px solid #DDDDDD;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.textstyle5 {
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #434343;
}

#button_af57f34 {
	box-sizing: border-box;
	border-radius: 9px;
	position: absolute;
	left: 40%;
	top: 51%;
	width: 150px;
	height: 40px;
	background-color: #F23D3E;
	border: 0px solid #404040;
	box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078);
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
}

#img_6193692a {
	position: absolute;
	left: 41%;
	top: 51%;
	width: 7%;
	min-width: 40px;
	max-width: 40px;
	background: none;
}

#container_2f3b2685 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 150px;
	background: none;
}

#container_2f3b2685_padding {
	margin: 10px;
	display: block;
}

#container_65fd933 {
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
	border: 1px solid #DDDDDD;
}

#container_65fd933_padding {
	margin: 10px;
	display: block;
}

#container_2204ab5f {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#container_2204ab5f_padding {
	margin: 10px;
	display: block;
}

#container_1c0b5f75 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	float: left;
	width: 20%;
	min-height: 150px;
	min-width: 100px;
	background: none;
}

#container_1c0b5f75_padding {
	margin: 10px;
	display: block;
}

#img_3fe310bf {
	vertical-align: bottom;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#text_90f02b2 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 75%;
	background: none;
}

#text_90f02b2_padding {
	margin: 10px;
	display: block;
}

#text_4faa410a {
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
	border-top: 1px solid #DDDDDD;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

#button_4e40bfb1 {
	box-sizing: border-box;
	border-radius: 9px;
	position: absolute;
	left: 40%;
	top: 51%;
	width: 150px;
	height: 40px;
	background-color: #F23D3E;
	border: 0px solid #404040;
	box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078);
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
}

#img_c647779 {
	position: absolute;
	left: 41%;
	top: 51%;
	width: 7%;
	min-width: 40px;
	max-width: 40px;
	background: none;
}

#container_44f2ffff {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 150px;
	background: none;
}

#container_44f2ffff_padding {
	margin: 10px;
	display: block;
}

#container_31eea8b3 {
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
	border: 1px solid #DDDDDD;
}

#container_31eea8b3_padding {
	padding: 25px;
	display: block;
}

#container_b921321 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#container_b921321_padding {
	margin: 10px;
	display: block;
}

#container_50645b19 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	float: left;
	width: 20%;
	min-height: 150px;
	min-width: 100px;
	background: none;
}

#container_50645b19_padding {
	margin: 10px;
	display: block;
}



#text_5527f0ab {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 75%;
	background: none;
}

#text_5527f0ab_padding {
	margin: 10px;
	display: block;
}

#text_4f5e97b4 {
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
	border-top: 1px solid #DDDDDD;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

#viewprofilebutton {
	box-sizing: border-box;
	border-radius: 9px;
	position: absolute;
	left: 40%;
	top: 51%;
	width: 150px;
	height: 40px;
	background-color: #F23D3E;
	border: 0px solid #404040;
	box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078);
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
}

#img_a60b9fe {
	position: absolute;
	left: 41%;
	top: 51%;
	width: 7%;
	min-width: 40px;
	max-width: 40px;
	background: none;
}

#container_23874065 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 150px;
	background: none;
}

#container_23874065_padding {
	margin: 10px;
	display: block;
}

#container_3f9132f1 {
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
	border: 1px solid #DDDDDD;
}

#container_3f9132f1_padding {
	margin: 10px;
	display: block;
}

#container_6499d2e3 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#container_6499d2e3_padding {
	margin: 10px;
	display: block;
}

#container_7ce4efdb {
	vertical-align: top;
	position: relative;
	display: inline-block;
	float: left;
	width: 20%;
	min-height: 150px;
	min-width: 100px;
	background: none;
}

#container_7ce4efdb_padding {
	margin: 10px;
	display: block;
}

#img_56d4a114 {
	vertical-align: bottom;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#text_7e7cbf4b {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 75%;
	background: none;
}

#text_7e7cbf4b_padding {
	margin: 10px;
	display: block;
}

#text_6d0d0d92 {
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
	border-top: 1px solid #DDDDDD;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

#button_2d435663 {
	box-sizing: border-box;
	border-radius: 9px;
	position: absolute;
	left: 40%;
	top: 51%;
	width: 150px;
	height: 40px;
	background-color: #F23D3E;
	border: 0px solid #404040;
	box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078);
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
}

#img_33b61be9 {
	position: absolute;
	left: 41%;
	top: 51%;
	width: 7%;
	min-width: 40px;
	max-width: 40px;
	background: none;
}

#container_e48d002 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#container_e48d002_padding {
	margin: 10px;
	display: block;
}

#container_dd8bebd {
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
	border: 1px solid #DDDDDD;
}

#container_dd8bebd_padding {
	margin: 10px;
	display: block;
}

#container_797a7183 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#container_797a7183_padding {
	margin: 10px;
	display: block;
}

#container_7db3f04b {
	vertical-align: top;
	position: relative;
	display: inline-block;
	float: left;
	width: 20%;
	min-height: 150px;
	min-width: 100px;
	background: none;
}

#container_7db3f04b_padding {
	margin: 10px;
	display: block;
}

#img_5e6725cd {
	vertical-align: bottom;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#text_241693c7 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 75%;
	background: none;
}

#text_241693c7_padding {
	margin: 10px;
	display: block;
}

#text_708f1473 {
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
	border-top: 1px solid #DDDDDD;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

#button_5714742b {
	box-sizing: border-box;
	border-radius: 9px;
	position: absolute;
	left: 40%;
	top: 51%;
	width: 150px;
	height: 40px;
	background-color: #F23D3E;
	border: 0px solid #404040;
	box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078);
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
}

#img_1f9a7107 {
	position: absolute;
	left: 41%;
	top: 51%;
	width: 7%;
	min-width: 40px;
	max-width: 40px;
	background: none;
}

@media only screen and (max-width: 1212px) {
	#form_673ad8a3 {
		width: 80%;
		left: 15%;
		top: 22%;
	}
	#text_7b786532 {
		display: none;
	}
	#text_423e072a {
		display: none;
	}
	#text_21c593aa {
		display: none;
	}
	#text_4d10e638 {
		display: none;
	}
	#container_1f0f9a1a {
		display: none;
	}
	#container_7766e258 {
		display: none;
	}
}

@media only screen and (max-width: 929px) {
	#form_441edaf {
		left: 1%;
		top: 9%;
	}
	#form_16ead408 {
		min-height: 0px;
	}
}

@media only screen and (max-width: 868px) {
	#button_40b210c5 {
		left: 85%;
		top: 15%;
	}
	#combo_39554477 {
		left: 1%;
		top: 70%;
		width: 100%;
	}
	#container_7044920a {
		left: 1%;
		top: 2%;
		min-height: 200px;
		width: 100%;
	}
	#container_65fd933 {
		left: 1%;
		top: 2%;
		min-height: 200px;
		width: 100%;
	}
	#container_31eea8b3 {
		left: 1%;
		top: 2%;
		min-height: 200px;
		width: 100%;
	}
	#container_3f9132f1 {
		left: 1%;
		top: 2%;
		min-height: 200px;
		width: 100%;
	}
	#container_dd8bebd {
		left: 1%;
		top: 2%;
		min-height: 200px;
		width: 100%;
	}
}

@media only screen and (max-width: 681px) {
	#container_27317a9a {
		width: 100%;
	}
}

@media only screen and (max-width: 436px) {
	#img_424e875 {
		width: 40px;
		height: 40px;
	}
}