<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home | College</title>
<link rel="stylesheet" type="text/css" href="css/home_college_html.css">
</head>
<body>
	<div class="textstyle1">
		<div id="container_7da6b8fe">
			<div id="container_7da6b8fe_padding">
				<div class="textstyle1">
					<form action="" enctype="application/x-www-form-urlencoded"
						method="GET" id="form_29acdad9">
						<div class="textstyle1">
							<input type="text" value="" title="" name="nav_search"
								placeholder="Search recruiters, jobs, students, alumni or colleges"
								id="edit_6804da94"> <input name="Search" type="submit"
								value="" title="" id="button_240550dc">
						</div>
					</form>
					<div id="text_2d0064e5">
						<div class="textstyle1">
							<span class="textstyle2">Profile</span>
						</div>
					</div>
					<div id="text_4c794137">
						<div class="textstyle1">
							<span class="textstyle2">Admin Panel</span>
						</div>
					</div>
					<div id="container_4e5d793e">
						<div class="textstyle1">
							<select name="Notifications" title="" id="combo_624a79e8">
								<option value="Notifications" selected="selected">Notifications</option>
							</select> <img src="css/assets/notification.png" id="img_26b019b7" alt=""
								title="" />
						</div>
					</div>
					<div id="container_779060e3">
						<div class="textstyle1">
							<select name="Notifications" title="" id="combo_11f8dd06">
								<option value="Welcome Username" selected="selected">Welcome
									Username</option>
								<option value="Logout">Logout</option>
								<option value="Reset Password">Reset Password</option>
							</select> <img src="css/assets/user.png" id="img_39b21281" alt="" title="" />
						</div>
					</div>
					<div id="container_1f5cad2f">
						<div class="textstyle1">
							<select name="Notifications" title="" id="combo_175df42e">
								<option value="Profile">Profile</option>
								<option value="Admin Panel">Admin Panel</option>
								<option value="Notifications">Notifications</option>
								<option value="Welcome Username">Welcome Username</option>
								<option value="Logout">Logout</option>
								<option value="Reset Password">Reset Password</option>
							</select> <img src="css/assets/menu.png" id="img_425d58bc" alt="" title="" />
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
		<div id="container_4659b2a4">
			<div id="container_4659b2a4_padding">
				<div class="textstyle1">
					<form action="" enctype="application/x-www-form-urlencoded"
						method="POST" id="form_8b61b39">
						<div id="form_8b61b39_padding">
							<div class="textstyle1">
								<div id="container_df4bb99">
									<div id="container_df4bb99_padding">
										<div class="textstyle1">
											<input type="hidden" value="" name="Profile picture path"
												id="field_1bbc90e1"> <span class="textstyle3"><br />
											<br /></span>
										</div>
										<div class="textstyle4">
											<input name="Update Profile Picture" type="submit" value=""
												title="" id="button_45190b08">
										</div>
										<div class="textstyle1"></div>
										<div style="clear: both"></div>
									</div>
								</div>
								<div id="container_222db1fd">
									<div id="container_222db1fd_padding">
										<div class="textstyle1">
											<span class="textstyle5"><br />
											<br />
											<br /></span>
											<h1 id="heading_359a6a0b">
												<span class="textstyle1"> <span class="textstyle6">NAME
														OF INSTITUTION</span>
												</span>
											</h1>
											<span class="textstyle5"><br /></span>
											<div id="container_40cddcf3">
												<div id="container_40cddcf3_padding">
													<div class="textstyle1">
														<span class="textstyle7">AFFILIATED UNIVERSITY</span>
													</div>
												</div>
											</div>
										</div>
										<div style="clear: both"></div>
									</div>
								</div>
								<div id="container_7c8aa649">
									<div id="container_7c8aa649_padding">
										<div class="textstyle8">
											<input type="hidden" value="" name="Background picture path"
												id="field_72d0ea62"> <span class="textstyle9">
											</span> <input name="Button9" type="submit"
												value="Request Recommendation" title="" id="button_1b652568">
											<span class="textstyle5"> </span> <span class="textstyle9">Change
												background image</span> <input name="Button7" type="submit"
												value="" title="" id="button_475df8fc">
										</div>
										<div style="clear: both"></div>
									</div>
								</div>
							</div>
							<div style="clear: both"></div>
						</div>
					</form>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
		<div id="container_7d6e006">
			<div id="container_7d6e006_padding">
				<div class="textstyle1">
					<div id="container_8cede07">
						<div id="container_8cede07_padding">
							<div class="textstyle1">
								<div id="text_43046ee">
									<div id="text_43046ee_padding">
										<div class="textstyle1">
											<span class="textstyle10">ABOUT</span>
										</div>
									</div>
								</div>
								<span class="textstyle3"><br /></span>
								<div id="container_5be111dc">
									<div id="container_5be111dc_padding">
										<div class="textstyle1">
											<span class="textstyle11">Descriptive text about the
												college, its goals and ideals, courses offered, etc.<br />
											<br />&quot;Lorem ipsum dolor sit amet, consectetur
												adipiscing elit, sed do eiusmod tempor incididunt ut labore
												et dolore magna aliqua. Ut enim ad minim veniam, quis
												nostrud exercitation ullamco laboris nisi ut aliquip ex ea
												commodo consequat. Duis aute irure dolor in reprehenderit in
												voluptate velit esse cillum dolore eu fugiat nulla pariatur.
												Excepteur sint occaecat cupidatat non proident, sunt in
												culpa qui officia deserunt mollit anim id est laborum.&quot;<br />&quot;Lorem
												ipsum dolor sit amet, consectetur adipiscing elit, sed do
												eiusmod tempor incididunt ut labore et dolore magna aliqua.
												Ut enim ad minim veniam, quis nostrud exercitation ullamco
												laboris nisi ut aliquip ex ea commodo consequat. Duis aute
												irure dolor in reprehenderit in voluptate velit esse cillum
												dolore eu fugiat nulla pariatur. Excepteur sint occaecat
												cupidatat non proident, sunt in culpa qui officia deserunt
												mollit anim id est laborum.&quot;<br />
											<br />
											</span> <span class="textstyle12"> </span> <span class="textstyle12">
											</span>
										</div>
									</div>
								</div>
							</div>
							<div style="clear: both"></div>
						</div>
					</div>
					<div id="container_171ab194">
						<div id="container_171ab194_padding">
							<div class="textstyle4">
								<div id="container_23a21de4">
									<div id="container_23a21de4_padding">
										<div class="textstyle1">
											<span class="textstyle13">CONTACT INFO</span>
										</div>
									</div>
								</div>
								<div id="container_46fed51b">
									<div id="container_46fed51b_padding">
										<div class="textstyle1">
											<span class="textstyle14">WEBSITE</span><span
												class="textstyle15"><br /></span><span class="textstyle16">Website
												link</span>
										</div>
									</div>
								</div>
								<div id="container_6424726f">
									<div id="container_6424726f_padding">
										<div class="textstyle1">
											<span class="textstyle14">EMAIL</span><span
												class="textstyle17"><br /></span><span class="textstyle16">Public
												email address</span>
										</div>
									</div>
								</div>
								<div id="container_5ce18608">
									<div id="container_5ce18608_padding">
										<div class="textstyle1">
											<span class="textstyle14">PHONE</span><span
												class="textstyle17"><br /></span><span class="textstyle16">Office
												phone number</span>
										</div>
									</div>
								</div>
								<div id="container_5638aaa2">
									<div id="container_5638aaa2_padding">
										<div class="textstyle1">
											<span class="textstyle14">ADDRESS</span><span
												class="textstyle15"><br /></span><span class="textstyle16">Address
												line 1<br />Address line 2<br />City/Town<br />State,District,Country<br />ZIP/Pin
												code
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="textstyle1"></div>
							<div style="clear: both"></div>
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
	</div>
</body>
</html>