a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp508c6e15{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:hover{ color:#FFFFFF; text-decoration: none} 
		a.wsp2e18e390{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:visited{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:active{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:hover{ color:#666666; text-decoration: none} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_305ed015 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:595px; background:none;  }
#container_305ed015_padding { margin: 10px; display: block;  }
#container_1f05b68d { box-sizing: border-box; border-radius: 10px; position:absolute; left:12%; top:14%; width:58%; min-height:492px; background:none; border: 1px solid #434343; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.392157);  }
#container_1f05b68d_padding { margin: 10px; display: block;  }
#form_31e85d79 { position:absolute; left:0%; top:18%; width:100%; min-height:391px; background:none;  }
#form_31e85d79_padding { margin: 10px; display: block;  }
#text_7b660c85 { position:absolute; left:3%; top:4%; background:none;  }
.textstyle2 { font-size:11pt; font-family:'Open Sans'; color:#434343;  }
#edit_5e272976 { box-sizing: border-box; border-radius: 10px; position:absolute; left:3%; top:13%; width:94%; height:12%; background-color:rgba(255, 255, 255, 0.007843); border: 1px solid #DDDDDD; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078); font-size:11pt; font-family:'Open Sans'; color:#434343;  }
#text_28a87b73 { position:absolute; left:3%; top:31%; background:none;  }
#edit_46c1cba { box-sizing: border-box; border-radius: 10px; position:absolute; left:3%; top:40%; width:94%; height:12%; background-color:rgba(255, 255, 255, 0.007843); border: 1px solid #DDDDDD; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078); font-size:11pt; font-family:'Open Sans'; color:#434343;  }
#text_1c54f54c { position:absolute; left:3%; top:58%; background:none;  }
#edit_4d2d62e5 { box-sizing: border-box; border-radius: 10px; position:absolute; left:3%; top:66%; width:94%; height:12%; background-color:rgba(255, 255, 255, 0.007843); border: 1px solid #DDDDDD; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078); font-size:11pt; font-family:'Open Sans'; color:#434343;  }
#button_1d0743c1 { box-sizing: border-box; border-radius: 9px; position:absolute; left:74%; top:84%; width:18%; height:12%; background-color:#F23D3E; border: 0px solid #DDDDDD; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.392157); font-size:10pt; font-family:'Open Sans'; color:#FFFFFF;  }
#container_52eccd2c { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:82px; background:none; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #DDDDDD;  }
#container_52eccd2c_padding { margin: 10px; display: block;  }
#img_30b8df1a { position:absolute; left:1%; top:10%; width:60px; background:none;  }
#text_3b8027bb { position:absolute; left:15%; top:32%; background:none;  }
.textstyle3 { font-size:18pt; font-family:'Open Sans'; color:#434343; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.215686);  }
@media only screen and (max-width: 868px)
{
		#button_1d0743c1 { width:38%; left:56%; top:84%;  }
		#text_3b8027bb { left:31%; top:10%;  }
}
@media only screen and (max-width: 500px)
{
		#container_1f05b68d { display:inline-block; width:75%; min-height:492px; left:12%; top:14%;  }
		#container_1f05b68d * span { font-size:11pt;  }
		#img_30b8df1a { width:40px;  }
}
@media only screen and (max-width: 320px)
{
		#text_7b660c85 { display:inline-block; width:152px; width:152px; height:20px; left:7%; top:22%;  }
		#text_7b660c85 * span { font-size:11pt;  }
		#edit_5e272976 { display:inline-block; width:84%; width:84%; height:12%; left:3%; top:13%;  }
		#edit_5e272976 * span { font-size:11pt;  }
		#edit_46c1cba { display:inline-block; width:84%; width:84%; height:12%; left:3%; top:40%;  }
		#edit_46c1cba * span { font-size:11pt;  }
		#edit_4d2d62e5 { display:inline-block; width:84%; width:84%; height:12%; left:3%; top:66%;  }
		#edit_4d2d62e5 * span { font-size:11pt;  }
}
