a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp508c6e15{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:hover{ color:#FFFFFF; text-decoration: none} 
		a.wsp2e18e390{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:visited{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:active{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:hover{ color:#666666; text-decoration: none} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_73017a78 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:51px; background-color:#0F0F0F;  }
#container_73017a78_padding { margin: 10px; display: block;  }
#form_789b3a9 { border-radius: 15px; position:absolute; left:5%; top:22%; width:30%; min-height:30px; min-width:310px; background-color:#272727;  }
#edit_2cc87846 { box-sizing: border-box; position:absolute; left:2%; top:5%; width:100%; height:90%; background:none; border: 0px solid #A0A0A0; font-size:8pt; font-family:'open sans'; color:#C2C2C2;  }
#button_4473df6d { box-sizing: border-box; position:absolute; left:90%; top:15%; width:20px; height:20px; background-color:#272727; background-image: url(assets/search___small.png); background-position:center left; background-size:cover; border: 0px solid #404040; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_7b322585 { position:absolute; left:45%; top:30%; background:none;  }
.textstyle2 { font-size:11pt; font-family:'Open Sans'; color:#B2B2B2;  }
#text_7fa21dec { position:absolute; left:54%; top:30%; background:none;  }
#text_78d6203e { position:absolute; left:65%; top:30%; background:none;  }
#container_24e3eb05 { position:absolute; left:75%; top:20%; width:125px; min-height:32px; background:none;  }
#combo_50693a0d { box-sizing: border-box; position:absolute; left:0%; top:0%; width:100%; height:90%; background-color:rgba(15, 15, 15, 0); border: 0px solid #A0A0A0; font-size:11pt; font-family:'Open Sans'; color:#B2B2B2;  }
#img_7e041a8c { position:absolute; left:76%; top:0%; width:25%; background:none;  }
#container_52599920 { position:absolute; left:86%; top:20%; width:14%; min-height:32px; background:none;  }
#combo_4a4b29ab { box-sizing: border-box; position:absolute; left:0%; top:0%; width:100%; height:90%; background-color:rgba(15, 15, 15, 0); border: 0px solid #A0A0A0; font-size:11pt; font-family:'Open Sans'; color:#B2B2B2;  }
#img_33b4fd2e { position:absolute; left:80%; top:0%; width:20%; background:none;  }
#container_3205b59a { position:absolute; left:1%; top:20%; width:33px; min-height:32px; background:none;  }
#combo_33c28df6 { box-sizing: border-box; position:absolute; left:0%; top:0%; width:100%; height:90%; background-color:rgba(15, 15, 15, 0); border: 0px solid #A0A0A0; font-size:11pt; font-family:'Open Sans'; color:#B2B2B2;  }
#img_694ba68e { position:absolute; left:14%; top:0%; width:90%; background:none;  }
#container_68fe4326 { box-sizing: border-box; position:absolute; left:77%; top:29%; width:22%; min-height:45px; background:none; border: 1px solid #86C630;  }
#img_48458a { vertical-align: bottom; position:relative; display: inline-block; width:18%; background:none;  }
#button_6cea8c18 { position:absolute; left:21%; top:0%; width:80%; height:100%; background-color:#86C630;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { text-align:center; }
.textstyle4 { font-size:10pt; font-family:'Open Sans'; color:#FFFFFF;  }
#container_4ff4b861 { box-sizing: border-box; position:absolute; left:77%; top:43%; width:22%; min-height:135px; background:none; border: 1px solid #DDDDDD;  }
#text_1669005b { position:absolute; left:3%; top:3%; width:94px; height:33px; background:none;  }
.textstyle5 { font-size:18pt; font-family:'Open Sans'; color:#434343;  }
#container_56fc7028 { box-sizing: border-box; position:absolute; left:3%; top:33%; width:95%; min-height:1px; background:none; border: 1px solid #DDDDDD;  }
#text_2120d1ae { position:absolute; left:5%; top:42%; background-color:#36A5E9;  }
#text_70c663b5 { position:absolute; left:24%; top:42%; background-color:#434343;  }
#text_38b2d1f2 { position:absolute; left:57%; top:42%; background-color:#F43D3C;  }
#text_521a477f { position:absolute; left:80%; top:42%; background-color:#62AA11;  }
#text_40bc1880 { position:absolute; left:5%; top:72%; background-color:#FF9900;  }
#text_d75b7d1 { position:absolute; left:24%; top:72%; background-color:#663FFB;  }
#container_67ef04f1 { position:absolute; left:77%; top:75%; width:22%; min-height:290px; background-color:#434343;  }
#container_67ef04f1_padding { margin: 25px 10px 10px 10px;display: block;  }
.textstyle6 { font-size:11pt; font-family:'Open Sans'; color:#FAE929;  }
.textstyle7 { font-size:11pt; font-family:'Open Sans'; color:#BFBFBF;  }
#button_9e2438b { border-radius: 5px; position:absolute; left:27%; top:80%; width:50%; height:15%; background-color:#36A5E9;  }
#container_6b901af0 { position:absolute; left:0%; top:10%; width:70%; min-height:1310px; background:none;  }
#container_6b901af0_padding { margin: 10px; display: block;  }
#container_1f608baf { position:absolute; left:5%; top:47%; width:100%; min-height:700px; background:none;  }
#container_1f608baf_padding { margin: 10px; display: block;  }
#form_59acdec8 { position:absolute; left:0%; top:7%; width:99%; min-height:641px; background:none;  }
#text_2ab0171c { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
.textstyle8 { font-size:11pt; font-family:'Open Sans'; color:#434343;  }
#edit_527f20b2 { box-sizing: border-box; position:absolute; left:0%; top:9%; width:100%; height:200px; background-color:#EFEFEF; border: 1px solid #DDDDDD; font-size:11pt; font-family:'Open Sans'; color:#434343;  }
#text_17bcaa8a { position:absolute; left:0%; top:45%; width:100%; height:40px; background:none;  }
#edit_3f6c2a40 { box-sizing: border-box; position:absolute; left:0%; top:54%; width:100%; height:200px; background-color:#EFEFEF; border: 1px solid #DDDDDD; font-size:11pt; font-family:'Open Sans'; color:#434343;  }
#button_35785fb2 { box-sizing: border-box; position:absolute; left:0%; top:91%; width:20%; height:7%; background-color:#CCCCCC; border: 0px solid #404040; font-size:10pt; font-family:'Open Sans'; color:#FFFFFF;  }
#text_420ba6de { position:absolute; left:1%; top:0%; background:none;  }
#container_48e5fabd { box-sizing: border-box; position:absolute; left:1%; top:5%; width:98%; min-height:1px; background:none; border: 1px solid #DDDDDD;  }
#container_2ed68a52 { position:absolute; left:5%; top:1%; width:99%; min-height:549px; background:none;  }
#container_2ed68a52_padding { margin: 10px; display: block;  }
#text_3ce6bb64 { position:absolute; left:68%; top:16%; background:none;  }
.textstyle9 { font-size:10pt; font-family:'Open Sans'; color:#666666; text-shadow: 0px 0px 0px #666666;  }
#text_239169a0 { position:absolute; left:1%; top:24%; width:99%; height:388px; background:none;  }
#text_1cac92e { position:absolute; left:41%; top:16%; background:none;  }
#text_5afd9839 { position:absolute; left:2%; top:16%; background:none;  }
#text_5c32d2b9 { position:absolute; left:2%; top:10%; background:none;  }
#container_1c89be5e { box-sizing: border-box; position:absolute; left:2%; top:21%; width:98%; min-height:1px; background:none; border: 1px solid #DDDDDD;  }
#container_36e9ed88 { box-sizing: border-box; position:absolute; left:2%; top:9%; width:98%; min-height:1px; background:none; border: 1px solid #DDDDDD;  }
#text_37d2a949 { position:absolute; left:15%; top:1%; background:none;  }
#img_2ac8f2e1 { position:absolute; left:1%; top:-2%; width:60px; background:none;  }
@media only screen and (max-width: 1212px)
{
		#form_789b3a9 { width:80%; left:15%; top:22%;  }
		#text_7b322585 { display:none;  }
		#text_7fa21dec { display:none;  }
		#text_78d6203e { display:none;  }
		#container_24e3eb05 { display:none;  }
		#container_52599920 { display:none;  }
}
@media only screen and (max-width: 968px)
{
		#container_67ef04f1 { min-height:360px;  }
}
@media only screen and (max-width: 929px)
{
		#container_6b901af0 { min-height:1800px;  }
}
@media only screen and (max-width: 868px)
{
		#text_37d2a949 { left:50%; top:1%;  }
}
@media only screen and (max-width: 750px)
{
		#container_4ff4b861 { display:none;  }
}
@media only screen and (max-width: 698px)
{
		#text_3ce6bb64 { left:2%; top:22%;  }
		#text_239169a0 { left:1%; top:28%;  }
		#text_1cac92e { left:2%; top:19%;  }
		#container_1c89be5e { left:2%; top:26%;  }
}
@media only screen and (max-width: 681px)
{
		#container_68fe4326 { display:none;  }
		#container_67ef04f1 { display:none;  }
		#container_6b901af0 { min-height:1800px; width:90%;  }
}
