<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Register | Recruiter | Career Information and Recruitment
	Portal</title>
<link rel="stylesheet" type="text/css"
	href="css/register_recruiter_html.css">
</head>
<script type="text/javascript">
	var validate_both_passwords = function() {
	
			if (document.getElementById('edit_22b54045').value != document
				.getElementById('edit_1cc351d8').value) {
			document.getElementById('edit_1cc351d8').style.borderColor = 'red';
		} else {
			document.getElementById('edit_22b54045').style.borderColor = 'green';
			document.getElementById('edit_1cc351d8').style.borderColor = 'green';
		}
	}
</script>
<body>
	<div class="textstyle1">
	<span class="textstyle4"></span>
		<div id="container_6d6e5d70">
			<div class="textstyle5">
				<div id="container_6b605b84">
					<div id="container_6b605b84_padding">
						<div class="textstyle1"></div>
						<div class="textstyle5">
							<span class="textstyle6"><a th:href="@{/index}"
								class="wsp508c6e15">HOME</a></span>
						</div>
					</div>
				</div>
				<div id="container_1bd488e7">
					<div id="container_1bd488e7_padding">
						<div class="textstyle1"></div>
						<div class="textstyle5">
							<span class="textstyle6"><a th:href="@{/index#OurSolutions}" class="wsp508c6e15">OUR
									SERVICES</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="textstyle1"></div>
		</div>
		<img src="css/assets/web___graphic___right_flip.png" id="img_15f3b2f5"
			alt="" title="" />
		<div id="container_dd9bc10">
			<div class="textstyle1">
				<form th:action="@{/register-recruiter}" th:Object="${recruiter}" enctype="application/x-www-form-urlencoded"
					method="POST" id="form_5145a595">
					<div class="textstyle1">
					
						<div id="container_2a3fae56">
							<div class="textstyle1">
								<h1 id="heading_127e45b7">
									<span class="textstyle1"> <span class="textstyle3">Register
											as Recruiter</span>
									</span>
								</h1>
								
							</div>
						</div>
						<div th:if="${message}" th:text="${message}" class="message"></div>
						<div id="text_72f5f190">
							<div class="textstyle1">
								<span class="textstyle2">NAME OF COMPANY/ORGANIZATION</span>
							</div>
						</div>
						<input type="text" value="" title="" name="Name" id="edit_6e14722" th:field="*{name}" required>
						<div id="text_18a7179b">
							<div class="textstyle1">
								<span class="textstyle2">ORGANISATION LICENSE NUMBER</span>
							</div>
						</div>
						<input type="text" value="" title="" name="TextEdit2"
							th:field="*{license_no}" id="edit_45257f07" required>
						<div id="text_c76e99a">
							<div class="textstyle1">
								<span class="textstyle2">ADDRESS LINE 1<br /></span>
							</div>
						</div>
						<input type="text" value="" title="" name="address1"
							th:field="*{contact.address_line1}" id="edit_62f9d0e5" required>
						<div id="text_57ffce5">
							<div class="textstyle1">
								<span class="textstyle2">ADDRESS LINE 2</span>
							</div>
						</div>
						<input type="text" value="" title="" name="address2"
							th:field="*{contact.address_line2}" id="edit_38e2e8f9">
						<div id="text_445470d8">
							<div class="textstyle1">
								<span class="textstyle2">CITY/TOWN</span>
							</div>
						</div>
						<input type="text" value="" title="" name="city"
							th:field="*{contact.city_or_town}" id="edit_73f33e94" required>
						<div id="text_25030a25">
							<div class="textstyle1">
								<span class="textstyle2">COUNTRY</span>
							</div>
						</div>
						<select th:field="*{contact.country}" name="country" title="" id="combo_5594cca3" required>
							<option value="India" selected="selected">India</option>
						</select>
						<div id="text_1471b5a0">
							<div class="textstyle1">
								<span class="textstyle2">STATE</span>
							</div>
						</div>
						<select name="state" th:field="*{contact.state}" title="" id="combo_68870372" required>
							<option value="Kerala" selected="selected">Kerala</option>
						</select>
						<div id="text_765db6a">
							<div class="textstyle1">
								<span class="textstyle2">DISTRICT</span>
							</div>
						</div>
						<select name="district" title="" id="combo_7308bc43" th:field="*{contact.state}" required>
							<option value="Alappuzha">Alappuzha</option>
							<option value="Kollam">Kollam</option>
							<option value="Thiruvananthapuram">Thiruvananthapuram</option>
							<option value="Kasaragod">Kasaragod</option>
							<option value="Kannur">Kannur</option>
							<option value="Malappuram">Malappuram</option>
							<option value="Thrissur">Thrissur</option>
							<option value="Palakkad">Palakkad</option>
							<option value="Ernakulam">Ernakulam</option>
							<option value="Kottayam">Kottayam</option>
							<option value="Pathanamthitta">Pathanamthitta</option>
							<option value="Kozhikode">Kozhikode</option>
							<option value="Wayanad">Wayanad</option>
							<option value="Idukki">Idukki</option>
						</select>
						<div id="text_65ea81f8">
							<div class="textstyle1">
								<span class="textstyle2">ZIP/PIN CODE</span>
							</div>
						</div>
						<input type="text" value="" title="" name="pincode"
							th:field="*{contact.pincode}" id="edit_dccad16" required>
						<div id="text_79f9370a">
							<div class="textstyle1">
								<span class="textstyle2">USERNAME</span>
							</div>
						</div>
						<input type="text" value="" title="" name="username"
							th:field="*{username}" id="edit_c7916db" required>
						<div id="text_1f940351">
							<div class="textstyle1">
								<span class="textstyle2">PASSWORD</span>
							</div>
						</div>
						<input type="password" value="" title="" name="password"
							th:field="*{password}" id="edit_22b54045" required 
							onkeyup='validate_both_passwords();'>
						<div id="text_7295c315">
							<div class="textstyle1">
								<span class="textstyle2">RE-ENTER PASSWORD</span>
							</div>
						</div>
						<input type="password" value="" title="" name="re-password"
							id="edit_1cc351d8" required onkeyup='validate_both_passwords();'>
						<div id="text_76d00edf">
							<div class="textstyle1">
								<span class="textstyle2">LOGIN E-MAIL ADDRESS </span>
							</div>
						</div>
						<input type="email" value="" title="" name="login-email"
							th:field="*{email}" id="edit_26cf35f6" required>
						<div id="text_60fc2221">
							<div class="textstyle1">
								<span class="textstyle2">PUBLIC E-MAIL ADDRESS</span>
							</div>
						</div>
						<input type="text" value="" title="" name="public-email"
							th:field="*{contact.public_email}" id="edit_4a7c550e" required>
						<div id="text_5b2bee83">
							<div class="textstyle1">
								<span class="textstyle2">WEBSITE<br /></span>
							</div>
						</div>
						<input type="text" value="" title="" name="website"
							th:field="*{contact.website}" id="edit_448ebc93" >
						<div id="text_70c1442e">
							<div class="textstyle1">
								<span class="textstyle2">OFFICE PHONE</span>
							</div>
						</div>
						<input type="text" value="" title="" name="office-phone"
							th:field="*{contact.landph}" id="edit_1f5bed12" required>
						<div id="text_2014f191">
							<div class="textstyle1">
								<span class="textstyle2">MOBILE NUMBER</span>
							</div>
						</div>
						<input type="text" value="" title="" name="mobile-number"
							th:field="*{mobile}" id="edit_ac32da3" required>
						<div id="text_383f18d1"></div>
						<input name="Button1" type="submit" value="REGISTER" title=""
							id="button_db89545">
						<div id="container_1f6e7e">
							<div class="textstyle1">
								<input name="CheckBox1" type="checkbox" value="" title=""
									checked="checked" id="checkbox_4273a07" required>
								<div id="text_2b38a494">
									<div class="textstyle1">
										<span class="textstyle2">By clicking register, you
											accept our</span> <span class="textstyle2"><a
											th:href="@{/terms-and-conditions}"> terms and conditions.</a></span>
									</div>
								</div>
							</div>
						</div>
							
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>