<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Register | Career Information and Recruitment Portal</title>
<link rel="stylesheet" type="text/css" href="css/register_html.css">
</head>
<body>
	<div class="textstyle1">
		<div id="text_2ca654cf">
			<div class="textstyle1">
				<span class="textstyle9"><a th:href="@{/index}"
					class="wsp508c6e15">HOME</a></span>
			</div>
		</div>
		<div id="text_2d975726">
			<div class="textstyle1">
				<span class="textstyle9"><a th:href="@{/index#OurSolutions}"
					class="wsp508c6e15">OUR SERVICES</a></span>
			</div>
		</div>
		<div id="container_22f72509">
			<div id="container_22f72509_padding">
				<div class="textstyle1">
					<img src="css/assets/web___graphic___left_flip.png"
						id="img_5c9515a7" alt="" title="" />
					<div id="text_23467b03">
						<div class="textstyle1">
							<span class="textstyle2">Let's Connect!</span>
						</div>
					</div>
					<div>
					<a id="button_6380ab8d" th:href="@{/register-college}" style="text-decoration: none">
						<div class="vcenterstyle1">
							<div class="vcenterstyle2">
								<div class="textstyle3">
									<span class="textstyle4">REGISTER AS COLLEGE</span>
								</div>
								<div class="textstyle1"></div>
							</div>
						</div>
					</a>
					</div>
					<div>
					<a th:href="@{/register-recruiter}" style="text-decoration: none" id="button_3c79d059" >
						<div class="vcenterstyle1">
							<div class="vcenterstyle2">
								<div class="textstyle3">
									<span class="textstyle4">REGISTER AS RECRUITER</span>
								</div>
								<div class="textstyle1"></div>
							</div>
						</div>
					</a>
					</div>
					<div>
					<a id="button_6d1ec1f3" th:href="@{/register-alumnus}" style="text-decoration: none">
						<div class="vcenterstyle1">
							<div class="vcenterstyle2">
								<div class="textstyle3">
									<span class="textstyle4">REGISTER AS ALUMNUS</span>
								</div>
								<div class="textstyle1"></div>
							</div>
						</div>
					</a>
					</div>
					<div id="text_3aee8af7">
						<div class="textstyle3">
							<span class="textstyle5">&quot;Hi to all students looking
								for their register button over here.<br /> We are sorry to
								inform you that students can't register themselves on this
								platform. <br />But surely, there's a way! Please ask your
								college admins to add you on this platform.&quot;
							</span><span class="textstyle6"><br /> <br /></span><span
								class="textstyle7">Happy job-seeking!</span>
						</div>
						<div class="textstyle1"></div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
	</div>
</body>
</html>