<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Terms &amp; Conditions | Career Information and</title>
<link rel="stylesheet" type="text/css"
	href="css/terms_and_conditions_html.css">
</head>
<body>
	<div class="textstyle1">
		<div id="container_4c53dd50">
			<div id="container_4c53dd50_padding">
				<div class="textstyle2">
					<span class="textstyle3"><a th:href="@{/index}"
						class="wsp508c6e15">HOME</a></span> <span class="textstyle3"> </span> <span
						class="textstyle3"><a th:href="@{/index#OurSolutions}" class="wsp508c6e15">OUR
							SERVICES</a></span>
				</div>
			</div>
		</div>
		<div id="container_2a930238">
			<div class="textstyle1">
				<div id="container_4fb0194e">
					<div class="textstyle1">
						<img src="css/assets/logo_transparent.png" id="img_43c0cee0"
							alt="" title="" />
					</div>
				</div>
				<div id="container_72ef7e18">
					<div id="container_72ef7e18_padding">
						<div class="textstyle1">
							<span class="textstyle4">Career Information and
								Recruitment Portal</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="textstyle5">
		<span class="textstyle6"><br /></span><span class="textstyle7">TERMS
			AND CONDITIONS</span><span class="textstyle8"><br />
		<br />
		<br /></span>
	</div>
	<div class="textstyle1">
		<span class="textstyle3">&#9679; Your profile information is
			public.<br />
		<br />&#9679; For a college or an educational institution, profile
			information includes name of college, affiliated university, profile
			photo, profile background image, about, web site, public email
			address, office phone number and address.<br />
		<br />&#9679; For a recruiter, otherwise referred to as company or
			organization, profile information includes name of the organization,
			profile photo, profile background image, about, web site, public email
			address, office phone number and address.<br />
		<br />&#9679; For a student or alumnus of a registered college (or
			educational institution), profile information includes name of
			student (or alumnus), profile photo, profile background image, the
			course title, personal description, skills, work experience,
			projects, awards and honors, communities and organizations.<br />
		<br />&#9679; Colleges, recruiters, students and alumni may be
			collectively called as 'users'.<br />
		<br />&#9679; All users agree to furnish truthful information.<br />
		<br />&#9679; All college and recruiter registrations are monitored by
			the web site administrators and the respective users get access to the
			platform only when the administrators approve the registration. Once
			a registration is approved, the user will be notified regarding this
			by email.<br />
		<br />&#9679; Students are not eligible to register themselves on this
			platform.<br />
		<br />&#9679; Alumni are eligible to register using the registration
			form. However, their registrations will be monitored and approved by
			their respective colleges.<br />
		<br />&#9679; Colleges agree to furnish truthful information about
			their student and alumni registrations.<br />
		<br />&#9679; Colleges agree to verify that they have the express
			consent of a student before committing a registration of the student
			on this platform.<br />
		<br />&#9679; Recruiters agree to provide truthful information in
			their job listings.<br />
		<br />&#9679; Students and alumni can apply for jobs posted by any
			recruiter. They may be collectively called as job applicants.<br />
		<br />&#9679; Students can request recommendations from alumni,
			recruiters and colleges.<br />
		<br />&#9679; Alumni can request recommendations from other alumni,
			recruiters and colleges.<br />
		<br />&#9679; Colleges, recruiters and alumni agree to offer truthful
			information while recommending a student or alumnus.<br />
		<br />&#9679; The chat feature is intended for recruiters and job
			applicants to communicate effectively.<br />
		<br />&#9679; Any kind of abuse of the chat platform is strictly
			prohibited and will result in severe actions including a ban on
			accessing the portal.<br />
		<br />&#9679; Abuse of the chat platform includes sending messages
			that involves spam, viruses, malware, violence, harassment, sexual
			and/or other offensive content.<br />
		<br />&#9679; Any violation of the above mentioned terms and
			conditions would result in temporary or permanent deactivation of
			your account.<br />
		<br />&#9679; If a user finds he/she has been personally offended by
			another user on the platform, he/she is entitled to file a petition
			in court regarding the offence and also report it to the web site
			administrators. However, the web site and it's owners are not
			responsible for any offences inflicted upon a user by another user on
			this platform.<br />
		<br />
		<br />
		<br />
		</span><span class="textstyle9"><br /></span>
	</div>
</body>
</html>