<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>View Job</title>
<style type="text/css">
a {
	color: #FFFFFF;
	text-decoration: none
}

a:visited {
	color: #FFFFFF;
	text-decoration: none
}

a:active {
	color: #FFFFFF;
	text-decoration: none
}

a:hover {
	color: #FFFFFF;
	text-decoration: none
}

@media only screen and (max-width: 1212px) {
	#form_789b3a9 {
		width: 80% !important;
		left: 15% !important;
		top: 22% !important;
	}
	#text_7b322585 {
		display: none !important;
	}
	#text_7fa21dec {
		display: none !important;
	}
	#text_78d6203e {
		display: none !important;
	}
	#container_24e3eb05 {
		display: none !important;
	}
	#container_52599920 {
		display: none !important;
	}
}

@media only screen and (max-width: 968px) {
	#container_67ef04f1 {
		min-height: 360px !important;
	}
}

@media only screen and (max-width: 929px) {
	#container_6b901af0 {
		min-height: 1800px !important;
	}
}

@media only screen and (max-width: 868px) {
	#text_37d2a949 {
		left: 50% !important;
		top: 1% !important;
	}
}

@media only screen and (max-width: 750px) {
	#container_4ff4b861 {
		display: none !important;
	}
}

@media only screen and (max-width: 698px) {
	#text_3ce6bb64 {
		left: 2% !important;
		top: 22% !important;
	}
	#text_239169a0 {
		left: 1% !important;
		top: 28% !important;
	}
	#text_1cac92e {
		left: 2% !important;
		top: 19% !important;
	}
	#container_1c89be5e {
		left: 2% !important;
		top: 26% !important;
	}
}

@media only screen and (max-width: 681px) {
	#container_68fe4326 {
		display: none !important;
	}
	#container_67ef04f1 {
		display: none !important;
	}
	#container_6b901af0 {
		min-height: 1800px !important;
		width: 90% !important;
	}
}
</style>
</head>
<body style="background-color: #FFFFFF; padding: 0; margin: 0;">
	<header th:insert="recruiter/home_recruiter.html :: header"
		style="margin: 0px;"> </header>
	<div th:replace="recruiter/home_recruiter.html :: navbar-recruiter"
		th:style="a{color: #B2B2B2;}"></div>
	<div style="text-align: left;">
		<div
			style="box-sizing: border-box; position: absolute; left: 77%; top: 29%; width: 22%; min-height: 45px; background: none; border: 1px solid #86C630;"
			id="container_68fe4326">
			<div style="text-align: left;">
				<img th:src="@{/css/assets/applicant.png}"
					style="vertical-align: bottom; position: relative; display: inline-block; width: 18%; background: none;"
					id="img_48458a" alt="" title="" />
				<div
					style="position: absolute; left: 21%; top: 0%; width: 80%; height: 100%; background-color: #86C630;"
					id="button_6cea8c18">
					<div style="display: table; width: 100%; height: 100%;">
						<div style="display: table-cell; vertical-align: middle;">
							<div style="text-align: center;">
								<span
									style="font-size: 10pt; font-family: 'Open Sans'; color: #FFFFFF;">VIEW
									APPLICATIONS</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			style="box-sizing: border-box; position: absolute; left: 77%; top: 43%; width: 22%; min-height: 135px; background: none; border: 1px solid #DDDDDD;"
			id="container_4ff4b861">
			<div style="text-align: left;">
				<div
					style="position: absolute; left: 3%; top: 3%; width: 94px; height: 33px; background: none;"
					id="text_1669005b">
					<div style="text-align: left;">
						<span
							style="font-size: 18pt; font-family: 'Open Sans'; color: #434343;">Tags</span>
					</div>
				</div>
				<div
					style="box-sizing: border-box; position: absolute; left: 3%; top: 33%; width: 95%; min-height: 1px; background: none; border: 1px solid #DDDDDD;"
					id="container_56fc7028"></div>
				<div
					style="position: absolute; left: 5%; top: 42%; background-color: #36A5E9;"
					id="text_2120d1ae">
					<div style="text-align: left;">
						<span
							style="font-size: 10pt; font-family: 'Open Sans'; color: #FFFFFF;">#tag1</span>
					</div>
				</div>
				<div
					style="position: absolute; left: 24%; top: 42%; background-color: #434343;"
					id="text_70c663b5">
					<div style="text-align: left;">
						<span
							style="font-size: 10pt; font-family: 'Open Sans'; color: #FFFFFF;">#hashtag2</span>
					</div>
				</div>
				<div
					style="position: absolute; left: 57%; top: 42%; background-color: #F43D3C;"
					id="text_38b2d1f2">
					<div style="text-align: left;">
						<span
							style="font-size: 10pt; font-family: 'Open Sans'; color: #FFFFFF;">#tag_3</span>
					</div>
				</div>
				<div
					style="position: absolute; left: 80%; top: 42%; background-color: #62AA11;"
					id="text_521a477f">
					<div style="text-align: left;">
						<span
							style="font-size: 10pt; font-family: 'Open Sans'; color: #FFFFFF;">#tag_4</span>
					</div>
				</div>
				<div
					style="position: absolute; left: 5%; top: 72%; background-color: #FF9900;"
					id="text_40bc1880">
					<div style="text-align: left;">
						<span
							style="font-size: 10pt; font-family: 'Open Sans'; color: #FFFFFF;">#tag1</span>
					</div>
				</div>
				<div
					style="position: absolute; left: 24%; top: 72%; background-color: #663FFB;"
					id="text_d75b7d1">
					<div style="text-align: left;">
						<span
							style="font-size: 10pt; font-family: 'Open Sans'; color: #FFFFFF;">#tag1</span>
					</div>
				</div>
			</div>
		</div>
		<div
			style="position: absolute; left: 77%; top: 75%; width: 22%; min-height: 290px; background-color: #434343;"
			id="container_67ef04f1">
			<div style="margin: 25px 10px 10px 10px; display: block;"
				id="container_67ef04f1_padding">
				<div style="text-align: center;">
					<span
						style="font-size: 11pt; font-family: 'Open Sans'; color: #FAE929;">Create
						New Job</span><span
						style="font-size: 11pt; font-family: 'Open Sans'; color: #BFBFBF;"><br />
						<br />Create a new job listing describing the job roles and
						responsibilities, duration of work, skills required and other
						relevant info.<br /> <br />Feel free to create custom
						application forms for the job.</span>
				</div>
				<div style="text-align: left;">
					<div
						style="border-radius: 5px; position: absolute; left: 27%; top: 80%; width: 50%; height: 15%; background-color: #36A5E9;"
						id="button_9e2438b">
						<div style="display: table; width: 100%; height: 100%;">
							<div style="display: table-cell; vertical-align: middle;">
								<div style="text-align: center;">
									<span
										style="font-size: 10pt; font-family: 'Open Sans'; color: #FFFFFF;">CREATE</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
		<div th:fragment="view-job"
			style="position: relative; margin-left: 20px; margin-top: 20px; width: 70%; background: none;"
			id="container_6b901af0">
			<div style="margin: 10px; display: block;"
				id="container_6b901af0_padding">
				<div style="text-align: left;">
					<div
						style="padding-bottom: 10px; border-bottom: 1px solid #DDDDDD;">
						<img th:src="@{/css/assets/jobs.png}"
							style="position: relative; width: 60px; display: inline-block; float: left; background: none;"
							id="img_2ac8f2e1" alt="" title="" />
						<div
							style="position: relative; display:inline-block; text-align: left; background: none; padding-top: 12px; font-size: 18pt; font-family: 'Open Sans'; color: #434343;"
							id="text_37d2a949">

							<span >View Job</span>

						</div>
					</div>
					<div 
						style="position: relative; width: 100%; min-height: 200px; background: none;"
						id="container_2ed68a52">
						<div style="margin: 10px; display: block; width:100%;"
							id="container_2ed68a52_padding">
							<div style="text-align: left;">
								<div
									style="position: relative; background: none; padding-bottom: 10px; border-bottom: 1px solid #DDDDDD;"
									id="text_5c32d2b9">
									<div style="text-align: left; padding-bottom: 5px;">
										<span
											style="font-size: 18pt; font-family: 'Open Sans'; color: #434343;"
											th:text="${job.name}"></span>
									</div>
									<div
										style="position: relative; background: none; display: inline-block;"
										id="text_5afd9839">
										<div style="text-align: left;">
											<span
												style="font-size: 10pt;display: inline-block; font-family: 'Open Sans'; color: #666666; text-shadow: 0px 0px 0px #666666;"
												th:text="'Location: ' + ${job.location}"></span>
										</div>
									</div>
									<div
										style="position: relative; display: inline-block; padding-left: 10px; background: none;"
										id="text_1cac92e">
										<div style="text-align: left;">
											<span
												style="font-size: 10pt;display: inline-block; font-family: 'Open Sans'; color: #666666; text-shadow: 0px 0px 0px #666666;"
												th:text="'Stipend: &#8377; ' + ${job.stipend}"></span>
										</div>
									</div>
									<div
										style="position: relative; display: inline-block; padding-left: 10px; background: none;"
										id="text_3ce6bb64">
										<div style="text-align: left;">
											<span
												style="font-size: 10pt; display: block; font-family: 'Open Sans'; color: #666666; text-shadow: 0px 0px 0px #666666;"
												th:text="'Last Date: ' + ${#dates.format(job.last_date, 'dd MMM, yyyy')}"></span>
										</div>
									</div>
									<div
										style="position: relative; display: inline-block; padding-left: 10px; background: none;"
										id="text_3ce6bb64">
										<div style="text-align: left;">
											<span
												style="font-size: 10pt; display: block; font-family: 'Open Sans'; color: #666666; text-shadow: 0px 0px 0px #666666;"
												th:text="'Duration: ' + ${job.duration}"></span>
										</div>
									</div>
								</div>

								<div
									style="position: relative; width: 100%; background: none; padding-top: 10px;"
									id="text_239169a0">
									<div style="text-align: left;">
										<span
											style="white-space: pre-wrap; font-size: 11pt; font-family: 'Open Sans'; color: #434343;"
											th:text="${job.desc}"></span>
									</div>
								</div>
								<br />
							</div>

						</div>
					</div>
					<div style="position: relative; width: 100%; background: none;"
						id="container_1f608baf">
						<div style="margin: 10px; display: block;"
							id="container_1f608baf_padding">
							<div style="text-align: left;">
								<div
									style="position: relative; background: none; padding-bottom: 10px; border-bottom: 1px solid #DDDDDD;"
									id="text_420ba6de">
									<div style="text-align: left;">
										<span
											style="font-size: 18pt; font-family: 'Open Sans'; color: #434343;">Application
											Form</span>
									</div>
								</div>
								<form
									style="position: relative; width: 100%; padding-bottom: 20px; background: none;"
									action="" enctype="application/x-www-form-urlencoded"
									method="POST" id="form_59acdec8">
									<div style="text-align: left;">
										<div
											style="vertical-align: bottom; position: relative; display: inline-block; width: 100%; background: none;"
											th:each="question, questionStat : ${job.questions}"
											id="text_2ab0171c">
											<div style="text-align: left;">
												<br /> <span
													style="font-size: 11pt; font-family: 'Open Sans'; color: white; border-radius: 9px; padding: 3px; background: #434343;">Question
													<span style="color: yellow;"
													th:text="' ' + ${questionStat.count} + ': '"></span>
												</span> <span
													style="font-size: 11pt; font-family: 'Open Sans'; padding-left: 10px; color: #434343;"
													th:text="${question}"></span>
											</div>											
										</div>
										<br />										
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>