a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp508c6e15{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:hover{ color:#FFFFFF; text-decoration: none} 
		a.wsp2e18e390{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:visited{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:active{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:hover{ color:#666666; text-decoration: none} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_152d49c3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:51px; background-color:#0F0F0F;  }
#container_152d49c3_padding { margin: 10px; display: block;  }
#form_22ca3bc8 { border-radius: 15px; position:absolute; left:5%; top:22%; width:30%; min-height:30px; min-width:310px; background-color:#272727;  }
#edit_79d06f3b { box-sizing: border-box; position:absolute; left:2%; top:5%; width:100%; height:90%; background:none; border: 0px solid #A0A0A0; font-size:8pt; font-family:'open sans'; color:#C2C2C2;  }
#button_3fe39059 { box-sizing: border-box; position:absolute; left:90%; top:15%; width:20px; height:20px; background-color:#272727; background-image: url(assets/search___small.png); background-position:center left; background-size:cover; border: 0px solid #404040; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_638ba834 { position:absolute; left:37%; top:30%; background:none;  }
.textstyle2 { font-size:11pt; font-family:'Open Sans'; color:#B2B2B2;  }
#text_5af4cc17 { position:absolute; left:43%; top:30%; background:none;  }
#text_5f4e7d13 { position:absolute; left:54%; top:30%; background:none;  }
#text_4ae1bf1e { position:absolute; left:65%; top:30%; background:none;  }
#container_67a9f5d3 { position:absolute; left:75%; top:20%; width:125px; min-height:32px; background:none;  }
#combo_3433bcff { box-sizing: border-box; position:absolute; left:0%; top:0%; width:100%; height:90%; background-color:rgba(15, 15, 15, 0); border: 0px solid #A0A0A0; font-size:11pt; font-family:'Open Sans'; color:#B2B2B2;  }
#img_30349247 { position:absolute; left:76%; top:0%; width:25%; background:none;  }
#container_1d3ef07d { position:absolute; left:86%; top:20%; width:14%; min-height:32px; background:none;  }
#combo_388dafed { box-sizing: border-box; position:absolute; left:0%; top:0%; width:100%; height:90%; background-color:rgba(15, 15, 15, 0); border: 0px solid #A0A0A0; font-size:11pt; font-family:'Open Sans'; color:#B2B2B2;  }
#img_59e4424e { position:absolute; left:80%; top:0%; width:20%; background:none;  }
#container_66ca5416 { position:absolute; left:1%; top:20%; width:33px; min-height:32px; background:none;  }
#combo_5939e075 { box-sizing: border-box; position:absolute; left:0%; top:0%; width:100%; height:90%; background-color:rgba(15, 15, 15, 0); border: 0px solid #A0A0A0; font-size:11pt; font-family:'Open Sans'; color:#B2B2B2;  }
#img_441deae9 { position:absolute; left:14%; top:0%; width:90%; background:none;  }
#container_344b8760 { vertical-align: top; position:relative; display: inline-block; width:70%; background:none;  }
#container_344b8760_padding { margin: 10px; display: block;  }
#container_75c970f0 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_75c970f0_padding { margin: 10px; display: block;  }
#container_565ca7ee { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:84px; background:none; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #DDDDDD;  }
#container_565ca7ee_padding { margin: 10px; display: block;  }
#container_3e34932f { vertical-align: top; position:relative; display: inline-block; width:60%; background:none;  }
#container_3e34932f_padding { margin: 10px; display: block;  }
#img_3d3e6d13 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:60px; background:none;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle4 { font-size:18pt; font-family:'Open Sans'; color:#434343;  }
#container_23b2962e { vertical-align: top; position:relative; display: inline-block; width:40%; background:none;  }
#container_23b2962e_padding { margin: 10px; display: block;  }
.textstyle5 { text-align:right; }
.textstyle6 { font-size:10pt; font-family:'Open Sans'; color:#B2B2B2;  }
#img_203e602b { vertical-align: bottom; position:relative; display: inline-block; width:20px; background:none;  }
#form_24c9c287 { vertical-align: top; position:relative; display: inline-block; width:98%; min-height:100px; background:none;  }
#form_24c9c287_padding { margin: 10px; display: block;  }
#form_3e786fdb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#form_3e786fdb_padding { margin: 10px; display: block;  }
#container_599833e8 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:46px; background:none;  }
#container_599833e8_padding { margin: 10px; display: block;  }
#edit_47b47bcf { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:100%; height:30px; background-color:#FFFFFF; border: 1px solid #DDDDDD; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078); font-size:11pt; font-family:'Open Sans'; color:#434343;  }
#button_3cc65eff { box-sizing: border-box; position:absolute; left:90%; top:18%; width:20px; height:20px; background-color:#FFFFFF; background-image: url(assets/search___small.png); background-position:center left; background-size:cover; border: 0px solid #404040; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_b942c79 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:46px; background:none;  }
#container_b942c79_padding { margin: 10px; display: block;  }
#combo_5b7be53 { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:100%; height:30px; background-color:#FFFFFF; border: 1px solid #DDDDDD; font-size:10pt; font-family:'Open Sans'; color:#434343;  }
#form_6c4cca11 { vertical-align: top; position:relative; display: inline-block; width:98%; min-height:300px; background:none;  }
#form_6c4cca11_padding { margin: 10px 10px 20px 10px;display: block;  }
#container_1e69e5c9 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:300px; background:none; border: 1px solid #DDDDDD;  }
#container_1e69e5c9_padding { margin: 10px; display: block;  }
#text_58e5cd38 { position:absolute; left:2%; top:6%; width:59%; height:12%; background:none;  }
#container_594183a4 { box-sizing: border-box; position:absolute; left:2%; top:20%; width:96%; min-height:1px; background-color:#DDDDDD; border: 1px solid #DDDDDD;  }
#text_3e86ccdb { box-sizing: border-box; position:absolute; left:2%; top:26%; width:96%; height:60%; background:none; border: 1px solid #DDDDDD;  }
.textstyle7 { font-size:11pt; font-family:'Open Sans'; color:#000000;  }
#button_7a06fb91 { box-sizing: border-box; position:absolute; left:72%; top:88%; width:30px; height:30px; background-color:#FFFFFF; background-image: url(assets/applicant.png); background-position:center center; background-size:cover; border: 0px solid #404040; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_3dcb90c1 { box-sizing: border-box; position:absolute; left:92%; top:88%; width:29px; height:30px; background-color:#FFFFFF; background-image: url(assets/trash.png); background-position:center center; background-size:cover; border: 0px solid #404040; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_1905419d { box-sizing: border-box; position:absolute; left:86%; top:89%; width:30px; height:30px; background-color:#FFFFFF; background-image: url(assets/edit_pencil.png); background-position:center center; background-size:cover; border: 0px solid #404040; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_25c626af { box-sizing: border-box; position:absolute; left:79%; top:88%; width:30px; height:30px; background-color:#FFFFFF; background-image: url(assets/view___grey.png); background-position:center center; background-size:cover; border: 0px solid #404040; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_7cbb0cb4 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background:none;  }
#container_7cbb0cb4_padding { margin: 10px; display: block;  }
#container_54b5db54 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_54b5db54_padding { margin: 10px; display: block;  }
#container_1c318ba7 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#434343;  }
#container_1c318ba7_padding { margin: 25px 10px 10px 10px;display: block;  }
.textstyle8 { text-align:center; }
.textstyle9 { font-size:11pt; font-family:'Open Sans'; color:#FAE929;  }
.textstyle10 { font-size:11pt; font-family:'Open Sans'; color:#BFBFBF;  }
#button_1e74c3d8 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:50%; height:40px; background-color:#36A5E9;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle11 { font-size:10pt; font-family:'Open Sans'; color:#FFFFFF; font-weight:bold;  }
@media only screen and (max-width: 1212px)
{
		#form_22ca3bc8 { width:80%; left:15%; top:22%;  }
		#text_638ba834 { display:none;  }
		#text_5af4cc17 { display:none;  }
		#text_5f4e7d13 { display:none;  }
		#text_4ae1bf1e { display:none;  }
		#container_67a9f5d3 { display:none;  }
		#container_1d3ef07d { display:none;  }
}
@media only screen and (max-width: 929px)
{
		#container_152d49c3 { width:100%;  }
		#form_24c9c287 { left:1%; top:9%;  }
		#form_6c4cca11 { min-height:0px;  }
		#container_594183a4 { width:96%;  }
}
@media only screen and (max-width: 868px)
{
		#button_3cc65eff { left:85%; top:15%;  }
		#combo_5b7be53 { left:1%; top:70%; width:100%;  }
		#container_1e69e5c9 { width:100%;  }
		#button_7a06fb91 { left:44%; top:86%; width:10%; height:10%;  }
		#button_3dcb90c1 { left:83%; top:86%; width:10%; height:10%;  }
		#button_1905419d { left:70%; top:86%; width:10%; height:10%;  }
		#button_25c626af { left:57%; top:87%; width:10%; height:10%;  }
}
@media only screen and (max-width: 681px)
{
		#container_344b8760 { width:100%;  }
		#container_7cbb0cb4 { width:100%;  }
}
@media only screen and (max-width: 400px)
{
		#container_3e34932f { width:100%;  }
		#container_23b2962e { width:100%;  }
}
