a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_3a5dff97 { box-sizing: border-box; position:absolute; left:25%; top:25%; width:50%; min-height:300px; background-color:#F8F8F8; border: 1px solid #DDDDDD;  }
#container_3a5dff97_padding { margin: 10px; display: block;  }
#container_730dc4c6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background:none;  }
#container_730dc4c6_padding { margin: 10px; display: block;  }
#img_259d4d8f { vertical-align: bottom; position:relative; display: inline-block; float:left; margin:15px 10px 0px 0px;width:8%; min-width:30px; background:none;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:28pt; font-family:'Kaushan Script'; color:#434343;  }
#text_105f1f2b { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
.textstyle4 { font-size:12pt; font-family:'Open Sans'; color:#333333; text-shadow: 0px 0px 1px #333333;  }
.textstyle5 { font-size:14pt; font-family:'Kaushan Script'; color:#2279BE; text-shadow: 0px 0px 1px #2279BE;  }
#container_52616290 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:51px; background-color:#0F0F0F;  }
#container_52616290_padding { margin: 10px; display: block;  }
#container_582910be { position:absolute; left:1%; top:18%; width:14%; min-height:32px; background:none;  }
#combo_5fe3b4c2 { box-sizing: border-box; position:absolute; left:0%; top:0%; width:100%; height:90%; background-color:rgba(15, 15, 15, 0); border: 0px solid #A0A0A0; font-size:11pt; font-family:'Open Sans'; color:#B2B2B2;  }
#img_6f0bd663 { position:absolute; left:80%; top:0%; width:20%; background:none;  }
@media only screen and (max-width: 511px)
{
		#img_259d4d8f { left:5%; top:3%;  }
}
