a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp508c6e15{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:hover{ color:#FFFFFF; text-decoration: none} 
		a.wsp2e18e390{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:visited{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:active{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:hover{ color:#666666; text-decoration: none} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_2aec7c86 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:97%; min-height:814px; background:none; border: 1px solid #404040;  }
#container_2aec7c86_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_5e753b9d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:88px; background:none;  }
#container_5e753b9d_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:11pt; font-family:'Open Sans'; color:#0080FF;  }
.textstyle4 { font-size:26pt; font-family:'Open Sans'; color:#0080FF;  }
#form_12c3fd3c { vertical-align: top; position:relative; display: inline-block; width:50px; min-height:58px; background:none;  }
#img_c950ec4 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
.textstyle5 { font-size:35pt; font-family:'Open Sans'; color:#36A5E9;  }
#container_e9461eb { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1px; background:none; border: 1px solid #DDDDDD;  }
.textstyle6 { font-size:11pt; font-family:'Open Sans'; color:#000000;  }
#container_3836df8c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:139px; background:none;  }
#container_3836df8c_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:11pt; font-family:'Open Sans'; color:#434343;  }
#container_73fbd7bb { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1px; background:none; border: 1px solid #DDDDDD;  }
.textstyle8 { font-size:16pt; font-family:'Open Sans'; color:#434343;  }
.textstyle9 { font-size:16pt; font-family:'Open Sans'; color:#36A5E9;  }
#container_1e47702c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:128px; background:none;  }
#container_1e47702c_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#434343;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_62bc02b1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:161px; background:none;  }
#container_62bc02b1_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:18pt; font-family:'Open Sans'; color:#36A5E9;  }
.textstyle13 { font-size:18pt; font-family:'Open Sans'; color:#434343;  }
#container_5b0aa4d6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:138px; background:none;  }
#container_5b0aa4d6_padding { margin: 10px; display: block;  }
#container_1ab95cd3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:127px; background:none;  }
#container_1ab95cd3_padding { margin: 10px; display: block;  }
#container_18fd6f63 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:131px; background:none;  }
#container_18fd6f63_padding { margin: 10px; display: block;  }
#container_57bef2a3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_57bef2a3_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 640px)
{
		#container_5e753b9d { display:inline-block;  }
		#container_5e753b9d * span { font-size:18pt;  }
		#container_3836df8c { display:inline-block;  }
		#container_3836df8c * span { font-size:10pt;  }
		#container_1e47702c { display:inline-block;  }
		#container_1e47702c * span { font-size:10pt;  }
		#container_62bc02b1 { display:inline-block;  }
		#container_62bc02b1 * span { font-size:10pt;  }
		#container_5b0aa4d6 { display:inline-block;  }
		#container_5b0aa4d6 * span { font-size:10pt;  }
		#container_1ab95cd3 { display:inline-block;  }
		#container_1ab95cd3 * span { font-size:10pt;  }
		#container_18fd6f63 { display:inline-block;  }
		#container_18fd6f63 * span { font-size:10pt;  }
		#container_57bef2a3 { display:inline-block;  }
		#container_57bef2a3 * span { font-size:10pt;  }
}
