a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp508c6e15{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:hover{ color:#FFFFFF; text-decoration: none} 
		a.wsp2e18e390{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:visited{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:active{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:hover{ color:#666666; text-decoration: none} 
body { background-color:#0F0F0F; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_128e043b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#518D0D;  }
#container_128e043b_padding { margin: 10px; display: block;  }
#container_e623ced { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:100px; background:none; border-top: none; border-left: none; border-right: none; border-bottom: none;  }
#container_681750b8 { vertical-align: top; border-radius: 40px; position:relative; display: inline-block; width:20%; min-height:100px; min-width:100px; max-width:100px; background:none;  }
#container_681750b8_padding { margin: 10px; display: block;  }
#img_1a88398b { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
#container_5d7aadde { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:65%; min-height:104px; background:none; border-top: none; border-left: none; border-right: none; border-bottom: none;  }
#container_5d7aadde_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:16pt; font-family:'Open Sans'; color:#FFFFFF;  }
.textstyle3 { font-size:16pt; font-family:'Open Sans'; color:#FFFFFF; font-weight:bold;  }
#container_7faacff0 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:104px; background:none;  }
#container_7faacff0_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_c7fd100 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:100%; height:40px; background-color:#FF5032; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle5 { text-align:center; }
.textstyle6 { font-size:10pt; font-family:'Open Sans'; color:#FFFFFF; font-weight:bold;  }
#container_67a97edf { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_6a57c376 { vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:100%; background:none;  }
#container_6a57c376_padding { margin: 10px; display: block;  }
#container_1355d10c { vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:80%; min-height:150px; background-color:rgba(34, 121, 190, 0.698039); box-shadow: 5px 5px 4px 0px rgba(67, 67, 67, 0.588235);  }
#container_1355d10c_padding { margin: 10px; display: block;  }
#container_6433c02c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_6433c02c_padding { margin: 10px; display: block;  }
#container_3b798afd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#F8F8F8;  }
#container_3b798afd_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:11pt; font-family:'Open Sans'; color:#434343;  }
#container_721c6cf9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#AFD8F1;  }
#container_721c6cf9_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:11pt; font-family:'Open Sans'; color:#000000;  }
.textstyle9 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_4f5762b3 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#242325; border-top: 2px solid #F4F4F4; border-left: none; border-right: none; border-bottom: none;  }
#container_4f5762b3_padding { margin: 10px; display: block;  }
#container_7abb8c1c { box-sizing: border-box; vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:80%; min-height:139px; background-color:#F4F4F3; border: 1px solid #DDDDDD; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_7abb8c1c_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:16pt; font-family:'Open Sans'; color:#1088D2;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#434343;  }
#container_1e608a11 { box-sizing: border-box; vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:80%; min-height:128px; background-color:#F4F4F4; border: 1px solid #DDDDDD; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_1e608a11_padding { margin: 10px; display: block;  }
#container_1919b8d0 { box-sizing: border-box; vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:80%; min-height:161px; background-color:#F4F4F4; border: 1px solid #DDDDDD; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_1919b8d0_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:18pt; font-family:'Open Sans'; color:#1088D2;  }
.textstyle13 { font-size:18pt; font-family:'Open Sans'; color:#434343;  }
#container_37b8b89b { box-sizing: border-box; vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:80%; min-height:138px; background-color:#F4F4F4; border: 1px solid #DDDDDD; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_37b8b89b_padding { margin: 10px; display: block;  }
#container_4f9d30c9 { box-sizing: border-box; vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:80%; min-height:127px; background-color:#F4F4F4; border: 1px solid #DDDDDD; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_4f9d30c9_padding { margin: 10px; display: block;  }
#container_1d14279c { box-sizing: border-box; vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:80%; min-height:131px; background-color:#F4F4F4; border: 1px solid #DDDDDD; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_1d14279c_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:16pt; font-family:'Open Sans'; color:#434343;  }
#container_27e664cc { box-sizing: border-box; vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:80%; min-height:150px; background-color:#F4F4F4; border: 1px solid #DDDDDD; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_27e664cc_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 640px)
{
		#container_7abb8c1c { display:inline-block;  }
		#container_7abb8c1c * span { font-size:10pt;  }
		#container_1e608a11 { display:inline-block;  }
		#container_1e608a11 * span { font-size:10pt;  }
		#container_1919b8d0 { display:inline-block;  }
		#container_1919b8d0 * span { font-size:10pt;  }
		#container_37b8b89b { display:inline-block;  }
		#container_37b8b89b * span { font-size:10pt;  }
		#container_4f9d30c9 { display:inline-block;  }
		#container_4f9d30c9 * span { font-size:10pt;  }
		#container_1d14279c { display:inline-block;  }
		#container_1d14279c * span { font-size:10pt;  }
		#container_27e664cc { display:inline-block;  }
		#container_27e664cc * span { font-size:10pt;  }
}
@media only screen and (max-width: 462px)
{
		#container_7faacff0 { width:30%;  }
}
