a {
	color: #5D5D9E;
}

a:visited {
	color: #5D5D9E;
}

a:active {
	color: #5C615E;
}

a:hover {
	color: #B2B3B4;
}

a.wsp508c6e15 {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:visited {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:active {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:hover {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp2e18e390 {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:visited {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:active {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:hover {
	color: #666666;
	text-decoration: none
}

body {
	background-color: #FFFFFF;
	padding: 0;
	margin: 0;
}

.textstyle1 {
	text-align: left;
}

#container_44befea {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 51px;
	background-color: #0F0F0F;
}

#container_44befea_padding {
	margin: 10px;
	display: block;
}

#form_767846b5 {
	border-radius: 15px;
	position: absolute;
	left: 5%;
	top: 22%;
	width: 30%;
	min-height: 30px;
	min-width: 310px;
	background-color: #272727;
}

#edit_26d632b2 {
	box-sizing: border-box;
	position: absolute;
	left: 2%;
	top: 5%;
	width: 100%;
	height: 90%;
	background: none;
	border: 0px solid #A0A0A0;
	font-size: 8pt;
	font-family: 'open sans';
	color: #C2C2C2;
}

#button_37a11612 {
	box-sizing: border-box;
	position: absolute;
	left: 90%;
	top: 15%;
	width: 20px;
	height: 20px;
	background-color: #272727;
	background-image: url(assets/search___small.png);
	background-position: center left;
	background-size: cover;
	border: 0px solid #404040;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

#text_b0faaaf {
	position: absolute;
	left: 37%;
	top: 30%;
	background: none;
}

.textstyle2 {
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #B2B2B2;
}

#text_5aae4bdf {
	position: absolute;
	left: 43%;
	top: 30%;
	background: none;
}

#text_23ae79bd {
	position: absolute;
	left: 54%;
	top: 30%;
	background: none;
}

#text_1f93b6e7 {
	position: absolute;
	left: 65%;
	top: 30%;
	background: none;
}

#container_56512de2 {
	position: absolute;
	left: 75%;
	top: 20%;
	width: 125px;
	min-height: 32px;
	background: none;
}

#combo_60197918 {
	box-sizing: border-box;
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 90%;
	background-color: rgba(15, 15, 15, 0);
	border: 0px solid #A0A0A0;
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #B2B2B2;
}

#img_51784d86 {
	position: absolute;
	left: 76%;
	top: 0%;
	width: 25%;
	background: none;
}

#container_89a0539 {
	position: absolute;
	left: 86%;
	top: 20%;
	width: 14%;
	min-height: 32px;
	background: none;
}

#combo_42108b92 {
	box-sizing: border-box;
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 90%;
	background-color: rgba(15, 15, 15, 0);
	border: 0px solid #A0A0A0;
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #B2B2B2;
}

#img_2e38eee2 {
	position: absolute;
	left: 80%;
	top: 0%;
	width: 20%;
	background: none;
}

#container_30c92ef0 {
	position: absolute;
	left: 1%;
	top: 20%;
	width: 33px;
	min-height: 32px;
	background: none;
}

#combo_2af3c9ad {
	box-sizing: border-box;
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 90%;
	background-color: rgba(15, 15, 15, 0);
	border: 0px solid #A0A0A0;
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #B2B2B2;
}

#img_6708df8a {
	position: absolute;
	left: 14%;
	top: 0%;
	width: 90%;
	background: none;
}

.textstyle3 {
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

#container_72e246b0 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#container_72e246b0_padding {
	margin: 10px;
	display: block;
}

#container_27d6c31a {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#container_27d6c31a_padding {
	margin: 10px;
	display: block;
}

#container_54c1f79 {
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 84px;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #DDDDDD;
}

#container_54c1f79_padding {
	margin: 10px;
	display: block;
}

#container_8011348 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
}

#container_8011348_padding {
	margin: 10px;
	display: block;
}

#img_4af67b10 {
	vertical-align: bottom;
	position: relative;
	display: inline-block;
	float: left;
	width: 60px;
	background: none;
}

.textstyle4 {
	font-size: 18pt;
	font-family: 'Open Sans';
	color: #434343;
}

#form_73d0649f {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 98%;
	min-height: 100px;
	background: none;
}

#form_73d0649f_padding {
	margin: 10px;
	display: block;
}

#form_644a215 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 30px;
	background: none;
}

#form_644a215_padding {
	margin: 10px;
	display: block;
}

#container_557b038c {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 46px;
	background: none;
}

#container_557b038c_padding {
	margin: 10px;
	display: block;
}

#edit_65d70866 {
	box-sizing: border-box;
	vertical-align: bottom;
	border-radius: 10px;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078);
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #434343;
}

#button_489df6f7 {
	box-sizing: border-box;
	position: absolute;
	left: 90%;
	top: 18%;
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	background-image: url(assets/search___small.png);
	background-position: center left;
	background-size: cover;
	border: 0px solid #404040;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

#form_3ade5d35 {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 98%;
	background: none;
}

#form_3ade5d35_padding {
	margin: 10px 10px 20px 10px;
	display: block;
}

#container_1438f88e {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 250px;
	background: none;
}

#container_1438f88e_padding {
	margin: 10px;
	display: block;
}

#img_6fccf794 {
	position: absolute;
	left: 1%;
	top: 8%;
	width: 150px;
	background: none;
}

#text_161d6a71 {
	position: absolute;
	left: 28%;
	top: 7%;
	background: none;
}

#container_7f22ed98 {
	box-sizing: border-box;
	border-radius: 15px;
	position: absolute;
	left: 28%;
	top: 23%;
	width: 49%;
	min-height: 1px;
	background-color: #DDDDDD;
	border: 1px solid #DDDDDD;
}

#text_17d4eadb {
	position: absolute;
	left: 28%;
	top: 28%;
	width: 58%;
	height: 45%;
	background: none;
}

.textstyle5 {
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #434343;
}

#button_3d6d4a6d {
	box-sizing: border-box;
	border-radius: 9px;
	position: absolute;
	left: 61%;
	top: 79%;
	width: 140px;
	height: 40px;
	background-color: #42740C;
	border: 0px solid #404040;
	box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078);
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
}

#button_567dd74f {
	box-sizing: border-box;
	border-radius: 9px;
	position: absolute;
	left: 33%;
	top: 79%;
	width: 140px;
	height: 40px;
	background-color: #F23D3E;
	border: 0px solid #404040;
	box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.196078);
	font-size: 10pt;
	font-family: 'Open Sans';
	color: #FFFFFF;
}

#img_54995d68 {
	position: absolute;
	left: 62%;
	top: 80%;
	width: 7%;
	min-width: 40px;
	max-width: 40px;
	background: none;
}

#img_51aa0a63 {
	position: absolute;
	left: 35%;
	top: 80%;
	width: 7%;
	min-width: 40px;
	max-width: 40px;
	background: none;
}

@media only screen and (max-width: 1212px) {
	#form_767846b5 {
		width: 80%;
		left: 15%;
		top: 22%;
	}
	#text_b0faaaf {
		display: none;
	}
	#text_5aae4bdf {
		display: none;
	}
	#text_23ae79bd {
		display: none;
	}
	#text_1f93b6e7 {
		display: none;
	}
	#container_56512de2 {
		display: none;
	}
	#container_89a0539 {
		display: none;
	}
}

@media only screen and (max-width: 929px) {
	#form_73d0649f {
		left: 1%;
		top: 9%;
	}
	#form_3ade5d35 {
		min-height: 0px;
	}
	#container_7f22ed98 {
		width: 60%;
		min-height: 1px;
		left: 32%;
		top: 23%;
	}
}

@media only screen and (max-width: 868px) {
	#button_489df6f7 {
		left: 85%;
		top: 15%;
	}
	#container_1438f88e {
		left: 1%;
		top: 2%;
		min-height: 210px;
		width: 100%;
	}
	#img_6fccf794 {
		width: 75px;
		height: 75px;
	}
	#text_161d6a71 {
		width: 411px;
		height: 33px;
		left: 31%;
		top: 7%;
	}
	#text_17d4eadb {
		width: 98%;
		height: 15%;
		left: 31%;
		top: 28%;
		width: 200px;
	}
	#button_3d6d4a6d {
		width: 50%;
		left: 50%;
		top: 72%;
		width: 45%;
		height: 17%;
	}
	#button_567dd74f {
		width: 40%;
		left: 8%;
		top: 72%;
		width: 35%;
		height: 17%;
	}
	#img_54995d68 {
		width: 3%;
		height: 35px;
		left: 52%;
		top: 72%;
	}
	#img_51aa0a63 {
		width: 3%;
		height: 35px;
		left: 10%;
		top: 72%;
	}
}

@media only screen and (max-width: 681px) {
	#container_72e246b0 {
		width: 100%;
	}
}

@media only screen and (max-width: 400px) {
	#container_8011348 {
		width: 100%;
	}
}

@media only screen and (max-width: 320px) {
	#button_3d6d4a6d {
		display: inline-block;
		width: 17%;
		width: 17%;
		height: 18%;
		left: 31%;
		top: 72%;
	}
	#button_3d6d4a6d * span {
		font-size: 10pt;
	}
	#button_567dd74f {
		display: inline-block;
		width: 17%;
		width: 17%;
		height: 18%;
		left: 31%;
		top: 72%;
	}
	#button_567dd74f * span {
		font-size: 10pt;
	}
}