h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp508c6e15{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp508c6e15:hover{ color:#FFFFFF; text-decoration: none} 
		a.wsp2e18e390{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:visited{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:active{ color:#666666; text-decoration: none} 
		a.wsp2e18e390:hover{ color:#666666; text-decoration: none} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_547898cf { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:300px; background-color:#061332;  }
#container_547898cf_padding { margin: 10px; display: block;  }
#form_71a76e09 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:300px; background:none;  }
#form_71a76e09_padding { margin: 10px; display: block;  }
#container_2a07b59f { vertical-align: top; border-radius: 100px; position:relative; display: inline-block; width:25%; min-height:200px; min-width:200px; max-width:200px; background-color:#FFFFFF; background-image: url(images/college.png); background-position:top left; background-size:cover;  }
#container_2a07b59f_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_1e6987e3 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:150px; background:none;  }
#container_1e6987e3_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:10pt; font-family:'Open Sans'; color:#FFFFFF;  }
#heading_30e6bc0e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle4 { font-size:35pt; font-family:'Open Sans'; color:#FFFFFF;  }
#container_713f2bdf { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_713f2bdf_padding { margin: 20px; display: block;  }
.textstyle5 { font-size:12pt; font-family:'Open Sans'; color:#FFFFFF;  }
#container_38d84016 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_38d84016_padding { margin: 10px; display: block;  }
.textstyle6 { text-align:right; }
.textstyle7 { font-size:10pt; font-family:'Palatino Linotype'; color:#FFFFFF;  }
#button_4be8a3e4 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:180px; height:30px; background-color:#54861B; border: 0px solid #404040; font-size:10pt; font-family:'Open Sans'; color:#FFFFFF;  }
#container_3b59a56e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_3b59a56e_padding { margin: 10px; display: block;  }
#container_65d33ff3 { vertical-align: top; position:relative; display: inline-block; width:70%; background-color:#FFFFFF;  }
#container_65d33ff3_padding { margin: 10px; display: block;  }
#text_6f4bea7e { vertical-align: bottom; position:relative; display: inline-block; margin:20px 20px 0px 20px;width:90%; background:none;  }
#text_6f4bea7e_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:26pt; font-family:'Open Sans'; color:#333333;  }
#container_430e85af { vertical-align: top; position:relative; display: inline-block; margin:0px 0px 0px 20px;width:90%; min-height:300px; background-color:#FFFFFF;  }
#container_430e85af_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:11pt; font-family:'Open Sans'; color:#434343;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#434343;  }
#container_54e3dd05 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; float:left; margin:20px 0px 0px 0px;width:25%; background-color:#FFFFFF; border: 1px solid #DDDDDD;  }
#container_54e3dd05_padding { margin: 10px; display: block;  }
.textstyle11 { text-align:center; }
#container_bfe47d7 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #DDDDDD;  }
#container_bfe47d7_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:18pt; font-family:'Open Sans'; color:#434343;  }
#container_55e5f313 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:62px; background:none;  }
#container_55e5f313_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:11pt; font-family:'Open Sans'; color:#282828;  }
.textstyle14 { font-size:11pt; font-family:'Open Sans'; color:#000000;  }
.textstyle15 { font-size:11pt; font-family:'Open Sans'; color:#36A5E9;  }
#container_4cc8eb5f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:64px; background:none;  }
#container_4cc8eb5f_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:12pt; font-family:'Open Sans'; color:#000000;  }
#container_4873a8bf { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background-color:#FFFFFF;  }
#container_4873a8bf_padding { margin: 10px; display: block;  }
#container_3044ba94 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:140px; background-color:#FFFFFF;  }
#container_3044ba94_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 851px)
{
		#container_65d33ff3 { width:100%;  }
		#container_54e3dd05 { width:100%;  }
}
@media only screen and (max-width: 640px)
{
		#container_430e85af { display:inline-block;  }
		#container_430e85af * span { font-size:10pt;  }
}
@media only screen and (max-width: 609px)
{
		#container_2a07b59f { width:100%;  }
		#container_1e6987e3 { width:100%;  }
		#heading_30e6bc0e * span { font-size:28pt;  }
		#container_713f2bdf * span { font-size:10pt;  }
}
