<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-tagsinput.css}">
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap-tagsinput.js}"></script>
<title>Edit Profile</title>
<style type="text/css">
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
}

a {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

a:active {
	color: #FFFFFF;
}

a:hover {
	color: #FFFFFF;
}

a.wsp508c6e15 {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:visited {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:active {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp508c6e15:hover {
	color: #FFFFFF;
	text-decoration: none
}

a.wsp2e18e390 {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:visited {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:active {
	color: #666666;
	text-decoration: none
}

a.wsp2e18e390:hover {
	color: #666666;
	text-decoration: none
}

#table_1decea3b th {
	border: 0px solid #8C8C8C;
}

#table_1decea3b td {
	border: 0px solid #8C8C8C;
}
</style>
</head>
<body>
	<header th:insert="student/home_student.html :: header"> </header>
	<div th:replace="student/home_student.html :: navbar-student"></div>
	<div style="background: none; width: 100%; padding: 0px; margin: 0;">
		<div style="text-align: left;">
			<div
				style="vertical-align: top; position: relative; display: inline-block; width: 100%; min-height: 150px; background-color: #FFFFFF;"
				id="container_4f8e05ec">
				<div style="margin: 10px; display: block;"
					id="container_4f8e05ec_padding">
					<div style="text-align: left;">
						<form
							style="vertical-align: top; position: relative; display: inline-block; width: 100%; min-height: 150px; background: none;"
							th:action="@{/student/update-personalisation}"
							th:Object="${personalisation}"
							enctype="application/x-www-form-urlencoded" method="POST"
							id="form_7b65636a">
							<div style="margin: 10px; display: block;"
								id="form_7b65636a_padding">
								<div style="text-align: left;">
									<img th:src="@{/css/assets/edit.png}"
										style="vertical-align: bottom; position: relative; display: inline-block; float: left; margin: 0px 0px 0px 200px; width: 30px; background: none;"
										id="img_7fdbf287" alt="" title="" />
									<h1
										style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; background: none; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #DDDDDD;"
										id="heading_30933864">
										<span style="margin: 5px; display: block;"
											id="heading_30933864_padding"><span
											style="text-align: left;"> <span
												style="font-size: 18pt; font-family: 'Open Sans'; color: #434343;">Edit
													Personalisation</span>
										</span> </span>
									</h1>
									<table id="table_1decea3b" cellpadding="3" cellspacing="2"
										style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-table; margin: 15px 0px 0px 0px; width: 100%; height: auto; background: none; border: 0px solid #8C8C8C; table-layout: fixed;">
										<tr>
											<td width="26%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_3e83cf1d">
													<div style="text-align: right;">
														<span
															style="font-size: 11pt; font-family: 'Open Sans'; color: #282828;">SKILLS</span>
													</div>
												</div>
											</td>
											<td width="64%" height="25px" colspan="1"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_6fc0cf3d">
													<div style="text-align: left;">
														<input type="text" data-role="tagsinput" th:field="*{skills}" th:value="*{skills}"
															placeholder="Add your skills here"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_52939585">
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td width="26%" height="-5px"></td>
											<td width="64%" height="-5px"></td>
											<td width="8%" height="-5px"></td>
										</tr>
									</table>
									
									<table th:each="prjct, projectStat: *{project}">
										<tr>
											<td width="26%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_12207b75">
													<div style="text-align: right;">
														<span
															style="font-size: 11pt; font-family: 'Open Sans'; color: #282828;">PROJECTS</span>
													</div>
												</div>
											</td>
											<td width="64%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_533dc5f6">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															placeholder="Name of your project."
															th:field="*{project[__${projectStat.index}__].name}"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_1b5af29e">
													</div>
												</div>
											</td>
											<td width="8%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_77730ce6">
													<div style="text-align: left;">
														<button type="submit" name="add-project"
															style="vertical-align: bottom; border-radius: 5px; border-width: 0px; position: relative; display: inline-block; float: left; width: 25px; height: 26px; background-color: #282828;"
															id="button_270e5b68">
															<div style="display: table; width: 100%; height: 100%;">
																<div
																	style="display: table-cell; vertical-align: middle;">
																	<span 
																		style="text-align: center;">
																		<span
																			style="font-size: 12pt; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF;">+</span>
																	</span>
																</div>
															</div>
														</button>
														<button type="submit" name="remove-project" th:value="${projectStat.index}"
															style="vertical-align: bottom;  border-radius: 5px; position: relative; display: inline-block; float: right; width: 25px; height: 26px; border-width: 0px; background-color: #ED3D32;"
															id="button_48ea4b9">
															<div style="display: table; width: 100%; height: 100%;">
																<div
																	style="display: table-cell; vertical-align: middle;">
																	<span 
																		style="text-align: center;">
																		<span
																			style="font-size: 12pt; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF;">-</span>
																	</span>
																</div>
															</div>
														</button>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td width="26%" height="92px"></td>
											<td width="64%" height="92px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_136a4bf5">
													<div style="text-align: left;">
														<textarea name="" title=""
															th:field="*{project[__${projectStat.index}__].desc}"
															placeholder="Brief description of the project" cols="25"
															rows="4"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 97px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_3232f2"></textarea>
													</div>
												</div>
											</td>
											<td width="8%" height="92px"></td>
										</tr>
										<tr>
											<td width="26%" height="25px"></td>
											<td width="64%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															th:field="*{project[__${projectStat.index}__].tech}"
															placeholder="Technologies used for the project" data-role="tagsinput"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_485ec054">
													</div>
												</div>
											</td>
											<td width="8%" height="25px"></td>
										</tr>
										<tr>
											<td width="26%" height="-5px"></td>
											<td width="64%" height="-5px"></td>
											<td width="8%" height="-5px"></td>
										</tr>
									</table>
									<table th:each="wrk, workStat: *{work}">
										<tr>
											<td width="26%" height="35px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: right;">
														<span
															style="font-size: 11pt; font-family: 'Open Sans'; color: #282828;">WORK
															EXPERIENCE</span>
													</div>
												</div>
											</td>
											<td width="64%" height="35px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															th:field="*{work[__${workStat.index}__].job}"
															placeholder="Job Title"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_19e9637a">
													</div>
												</div>
											</td>
											<td width="8%" height="35px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<button type="submit" name="add-work"
															style="vertical-align: bottom; border-width: 0px; border-radius: 5px; position: relative; display: inline-block; float: left; width: 25px; height: 26px; background-color: #282828;"
															id="button_1e552dd0">
															<div style="display: table; width: 100%; height: 100%;">
																<div
																	style="display: table-cell; vertical-align: middle;">
																	<span 
																		style="text-align: center;">
																		<span
																			style="font-size: 12pt; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF;">+</span>
																	</span>
																</div>
															</div>
														</button>
														<button type="submit" name="remove-work" th:value="${workStat.index}"
															style="vertical-align: bottom; border-width: 0px; border-radius: 5px; position: relative; display: inline-block; float: right; width: 25px; height: 26px; background-color: #ED3D32;"
															id="button_4688da56">
															<div style="display: table; width: 100%; height: 100%;">
																<div
																	style="display: table-cell; vertical-align: middle;">
																	<span 																		
																		style="text-align: center;">
																		<span
																			style="font-size: 12pt; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF;">-</span>
																	</span>
																</div>
															</div>
														</button>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td width="26%" height="25px"></td>
											<td width="64%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															th:field="*{work[__${workStat.index}__].company}"
															placeholder="Hired by (name of company or recruiter)"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_6f05779b">
													</div>
												</div>
											</td>
											<td width="8%" height="25px"></td>
										</tr>
										<tr>
											<td width="26%" height="25px"></td>
											<td width="64%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" th:field="*{work[__${workStat.index}__].skills}"
															data-role="tagsinput"
															placeholder="Skills for this job position"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_423704d1">
													</div>
												</div>
											</td>
											<td width="8%" height="25px"></td>
										</tr>
										<tr>
											<td width="26%" height="92px"></td>
											<td width="64%" height="92px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<textarea name="" title=""
															th:field="*{work[__${workStat.index}__].desc}"
															placeholder="Brief description of your job roles, etc."
															cols="25" rows="4"
															style="resize: none; box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 97px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_4405826f"></textarea>
													</div>
												</div>
											</td>
											<td width="8%" height="92px"></td>
										</tr>
										<tr>
											<td width="26%" height="25px"></td>
											<td width="64%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="date" value="" title="Start Date - When did you start working on this job?" name=""
															th:field="*{work[__${workStat.index}__].st_date}"
															placeholder="Start date"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; float: left; width: 49%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_3c0329f5"><span style="text-align:center;">to</span> <input type="date" value=""
															th:field="*{work[__${workStat.index}__].end_date}"
															name="" title="End Date - If you've resigned from this position, enter the day of resignation"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; float: right; width: 49%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_515f4b03">
													</div>
												</div>
											</td>
											<td width="8%" height="25px"></td>
										</tr>
										<tr>
											<td width="26%" height="-5px"></td>
											<td width="64%" height="-5px"></td>
											<td width="8%" height="-5px"></td>
										</tr>
									</table>
									<table th:each="award, awardStat: *{awards}">
										<tr>
											<td width="26%" height="35px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: right;">
														<span
															style="font-size: 11pt; font-family: 'Open Sans'; color: #282828;">AWARDS
															&amp; HONOURS</span>
													</div>
												</div>
											</td>
											<td width="64%" height="35px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															th:field="*{awards[__${awardStat.index}__].name}"
															placeholder="Name of your achievement/award/certificate"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_6dc5d37e">
													</div>
												</div>
											</td>
											<td width="8%" height="35px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<button type="submit" name="add-award"
															style="vertical-align: bottom; border-width: 0px; border-radius: 5px; position: relative; display: inline-block; float: left; width: 25px; height: 26px; background-color: #282828;"
															id="button_2b0572cc">
															<div style="display: table; width: 100%; height: 100%;">
																<div
																	style="display: table-cell; vertical-align: middle;">
																	<span
																		style="text-align: center;">
																		<span
																			style="font-size: 12pt; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF;">+</span>
																	</span>
																</div>
															</div>
														</button>
														<button type="submit" name="remove-award"
																		th:value="${awardStat.index}"
															style="vertical-align: bottom; border-width: 0px; border-radius: 5px; position: relative; display: inline-block; float: right; width: 25px; height: 26px; background-color: #ED3D32;"
															id="button_637f73f1">
															<div style="display: table; width: 100%; height: 100%;">
																<div
																	style="display: table-cell; vertical-align: middle;">
																	<span
																		style="text-align: center;">
																		<span
																			style="font-size: 12pt; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF;">-</span>
																	</span>
																</div>
															</div>
														</button>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td width="26%" height="25px"></td>
											<td width="64%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															th:field="*{awards[__${awardStat.index}__].year}"
															placeholder="Year of Achievement"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_1f92a15a">
													</div>
												</div>
											</td>
											<td width="8%" height="25px"></td>
										</tr>										
										<tr>
											<td width="26%" height="25px"></td>
											<td width="64%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															th:field="*{awards[__${awardStat.index}__].website_of_org}"
															placeholder="Website link of award organizer"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_663e217d">
													</div>
												</div>
											</td>
											<td width="8%" height="25px"></td>
										</tr>
										<tr>
											<td width="26%" height="-5px"></td>
											<td width="64%" height="-5px"></td>
											<td width="8%" height="-5px"></td>
										</tr>
									</table>
									<table th:each="comm, commStat: *{communities}">
										<tr>
											<td width="26%" height="55px"
												style="vertical-align: middle; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: right;">
														<span
															style="font-size: 11pt; font-family: 'Open Sans'; color: #282828;">COMMUNITIES
															&amp; ORGANIZATIONS</span>
													</div>
												</div>
											</td>
											<td width="64%" height="55px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															th:field="*{communities[__${commStat.index}__].name}"
															placeholder="Name of the community or organization"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_7395642c">
													</div>
												</div>
											</td>
											<td width="8%" height="55px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<button type="submit" name="add-community"
															style="vertical-align: bottom; border-width: 0px; border-radius: 5px; position: relative; display: inline-block; float: left; width: 25px; height: 26px; background-color: #282828;"
															id="button_286cdfb2">
															<div style="display: table; width: 100%; height: 100%;">
																<div
																	style="display: table-cell; vertical-align: middle;">
																	<span 
																		style="text-align: center;">
																		<span
																			style="font-size: 12pt; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF;">+</span>
																	</span>
																</div>
															</div>
														</button>
														<button type="submit" name="remove-community" th:value="${commStat.index}"
															style="vertical-align: bottom; border-width: 0px; border-radius: 5px; position: relative; display: inline-block; float: right; width: 25px; height: 26px; background-color: #ED3D32;"
															id="button_7163f281">
															<div style="display: table; width: 100%; height: 100%;">
																<div
																	style="display: table-cell; vertical-align: middle;">
																	<span style="text-align: center;">
																		<span
																			style="font-size: 12pt; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF;">-</span>
																	</span>
																</div>
															</div>
														</button>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td width="26%" height="25px"></td>
											<td width="64%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															th:field="*{communities[__${commStat.index}__].website}"
															placeholder="Website of the community or organization"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_6e627063">
													</div>
												</div>
											</td>
											<td width="8%" height="25px"></td>
										</tr>
										<tr>
											<td width="26%" height="-5px"></td>
											<td width="64%" height="-5px"></td>
											<td width="8%" height="-5px"></td>
										</tr>
									</table>
									<table th:each="edu, eduStat: *{education}">
										<tr>
											<td width="26%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: right;">
														<span
															style="font-size: 11pt; font-family: 'Open Sans'; color: #282828;">EDUCATION</span>
													</div>
												</div>
											</td>
											<td width="66%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text"
															th:field="*{education[__${eduStat.index}__].course}"
															placeholder="Name of the course"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_671458e">
													</div>
												</div>
											</td>
											<td width="8%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<button type="submit" name="add-education"
															style="vertical-align: bottom; border-width: 0px; border-radius: 5px; position: relative; display: inline-block; float: left; width: 25px; height: 26px; background-color: #282828;"
															id="button_75fd5b21">
															<div>
																<div
																	style="display: table-cell; vertical-align: middle;">
																	<span 
																		style="text-align: center;">
																		<span
																			style="font-size: 12pt; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF;">+</span>
																	</span>
																</div>
															</div>
														</button>
														<button type="submit" name="remove-education"
																		th:value="${eduStat.index}"
															style="vertical-align: bottom; border-width: 0px; border-radius: 5px; position: relative; display: inline-block; float: right; width: 25px; height: 26px; background-color: #ED3D32;"
															id="button_1b4ec195">
															<div>
																<div
																	style="display: table-cell; vertical-align: middle;">
																	<span 
																		style="text-align: center;">
																		<span
																			style="font-size: 12pt; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF;">-</span>
																	</span>
																</div>
															</div>
														</button>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td width="26%" height="25px"></td>
											<td width="64%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															th:field="*{education[__${eduStat.index}__].institute}"
															placeholder="Name of institute (school, college, etc. where you studied)"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_39acf678">
													</div>
												</div>
											</td>
											<td width="8%" height="25px"></td>
										</tr>
										<tr>
											<td width="26%" height="25px"></td>
											<td width="26%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															th:field="*{education[__${eduStat.index}__].board}"
															placeholder="Name of Board or University"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_2dd6a410">
													</div>
												</div>
											</td>
											<td width="26%" height="25px"></td>
										</tr>
										<tr>
											<td width="26%" height="25px"></td>
											<td width="26%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															th:field="*{education[__${eduStat.index}__].marks}"
															placeholder="Marks, grade or percentage achieved"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_dfcd587">
													</div>
												</div>
											</td>
											<td width="26%" height="25px"></td>
										</tr>
										<tr>
											<td width="26%" height="25px"></td>
											<td width="26%" height="25px"
												style="vertical-align: top; overflow: hidden;">
												<div style="" id="cell_5c2e85e5">
													<div style="text-align: left;">
														<input type="text" value="" title="" name=""
															th:field="*{education[__${eduStat.index}__].year}"
															placeholder="Year of completion"
															style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100%; height: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; font-size: 10pt; font-family: 'Open Sans'; color: #282828;"
															id="edit_2d8eaf4e">
													</div>
												</div>
											</td>
											<td width="26%" height="25px"></td>
										</tr>
										<tr>
											<td width="26%" height="-5px"></td>
											<td width="26%" height="-5px"></td>
											<td width="26%" height="-5px"></td>
										</tr>
										<tr>
											<td width="26%" height="-7px"></td>
											<td width="26%" height="-7px"></td>
											<td width="26%" height="-7px"></td>
										</tr>
									</table>
								</div>
								<div style="text-align: center;">
									<input name="Button4" type="submit" value="UPDATE" title=""
										style="box-sizing: border-box; vertical-align: bottom; position: relative; display: inline-block; width: 100px; height: 30px; background-color: #42740C; border: 0px solid #404040; font-size: 10pt; font-family: 'OPEN SANS'; color: #FFFFFF; font-weight: bold;"
										id="button_5cf3eee9">
								</div>
								<div style="clear: both"></div>
							</div>
						</form>
					</div>
					<div style="clear: both"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>