<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${student_name}"></title>
<style type="text/css">
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
}

a {
	color: #b2b2b2;
	text-decoration: none
}

a:visited {
	color: #b2b2b2;
	text-decoration: none
}

a:active {
	color: #b2b2b2;
	text-decoration: none
}

a:hover {
	color: #b2b2b2;
	text-decoration: none
}

@media only screen and (max-width: 851px) {
	#container_65d33ff3 {
		width: 100% !important;
	}
	#container_54e3dd05 {
		width: 100% !important;
	}
}

@media only screen and (max-width: 640px) {
	#container_430e85af {
		display: inline-block !important;
	}
	#container_430e85af * span {
		font-size: 10pt !important;
	}
}

@media only screen and (max-width: 609px) {
	#container_2a07b59f {
		width: 100% !important;
	}
	#container_1e6987e3 {
		width: 100% !important;
	}
	#heading_30e6bc0e * span {
		font-size: 28pt !important;
	}
	#container_713f2bdf * span {
		font-size: 10pt !important;
	}
}

li {
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #36A5E9;
}

.profile {
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #282828;
}

.subheading {
	font-size: 11pt;
	font-family: 'Open Sans';
	color: #000000;
	font-weight: bolder;
}
</style>
</head>
<body style="background-color: #FFFFFF; padding: 0; margin: 0;">
	<div style="text-align: left;">
		<div
			th:style="'vertical-align: top; position: relative; display: block; margin:0px; width: 100%; height: 450px; background-color: #061332; background-size: cover; background-image: url('+ @{'/view-bg-img/' + ${student_bg_img}} +');'"
			id="container_547898cf">
			<div
				style="vertical-align: top; position: relative; display: inline-block; width: 100%; min-height: 300px; background: none;"
				id="form_71a76e09">
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<header th:insert="admin/server_admin_panel.html :: header">
					</header>
					<div th:replace="admin/server_admin_panel.html :: navbar-admin"
						style="color: #B2B2B2;"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_RECRUITER')">
					<header th:insert="recruiter/home_recruiter.html :: header">
					</header>
					<div th:replace="recruiter/home_recruiter.html :: navbar-recruiter"
						th:style="a{color: #B2B2B2;}"></div>
				</div>
				<div
					sec:authorize="hasRole('ROLE_STUDENT') || hasRole('ROLE_ALUMNUS')">
					<header th:insert="student/home_student.html :: header"> </header>
					<div th:replace="student/home_student.html :: navbar-student"
						th:style="a{color: #B2B2B2;}"></div>
				</div>
				<div th:if="${message}" th:text="${message}"
					style="position: center; top: 6%; padding: 10px; text-align: center; width: auto; min-height: 20px; font-size: 10pt; font-family: 'Open Sans'; color: #ffffff; background: #986767;"></div>
				<div style="margin: 10px; display: block;"
					id="form_71a76e09_padding">
					<div style="text-align: left; margin-top: 40px; margin-left: 50px;">
						<div
							th:style="'vertical-align: top; border-radius: 100px; position: relative; display: inline-block; width: 25%; height: 200px; width: 200px; background-image: url('+ @{'/view-profile-pic/' + ${id}} +'); background-position: top left; background-size: cover;'"
							id="container_2a07b59f">
							<div style="margin: 10px; display: block;"
								id="container_2a07b59f_padding">
								<div style="text-align: left;">
									<span><br /> <br /></span>
								</div>
							</div>
						</div>
						<div
							style="vertical-align: top; position: relative; display: inline-block; width: 65%; min-height: 150px; background: none;"
							id="container_1e6987e3">
							<div style="margin: 10px; display: block;"
								id="container_1e6987e3_padding">
								<div
									style="text-align: left; margin-top: 40px; margin-left: 50px;">
									<h1
										style="vertical-align: top; position: relative; display: inline-block; background: none;"
										id="heading_30e6bc0e">
										<span
											style="text-align: left; font-size: 28pt; font-family: 'Open Sans'; color: #FFFFFF;"
											th:text="${student_name}"></span>
									</h1>

									<div
										style="vertical-align: top; position: relative; display: inline-block; width: 100%; background: none;"
										id="container_713f2bdf">
										<div style="margin: 0px; display: block;"
											id="container_713f2bdf_padding">
											<div style="text-align: left;">
												<span
													style="white-space: pre-wrap; font-size: 12pt; font-family: 'Open Sans'; color: #FFFFFF;"
													th:text="${student_course}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div 
							sec:authorize="hasRole('ROLE_STUDENT') || hasRole('ROLE_ALUMNUS')"
							th:if="${username != id && isAlumnus}"
							style="vertical-align: top; position: relative; display: inline-block; width: 100%; min-height: 50px; background: none;"
							id="container_38d84016">
							<div style="margin: 10px; display: block;"
								id="container_38d84016_padding">
								<div
									style="text-align: right; padding-top: 50px; padding-right: 20px;">
									<a
										th:href="@{'/request-recommendation?recommender_id=' + ${id}}"
										style="box-sizing: border-box; vertical-align: bottom; position: relative; margin: auto; display: inline-block; width: 180px; height: 30px; background-color: #54861B; border: 0px solid #404040; font-size: 10pt; font-family: 'Open Sans'; color: #FFFFFF;"
										id="button_4be8a3e4">Request Recommendation</a>
								</div>
								<div style="clear: both"></div>
							</div>
						</div>
					</div>
					<div style="clear: both"></div>
				</div>
			</div>
		</div>
		<div style="clear: both"></div>
	</div>
	<div
		style="vertical-align: top; position: relative; display: inline-block; width: 100%; min-height: 150px; background-color: #FFFFFF;"
		id="container_3b59a56e">
		<div style="margin: 10px; display: block;"
			id="container_3b59a56e_padding">
			<div style="text-align: left;">
				<div
					style="vertical-align: top; position: relative; display: inline-block; width: 70%; background-color: #FFFFFF;"
					id="container_65d33ff3">
					<div style="margin: 10px; display: block;"
						id="container_65d33ff3_padding">
						<div style="text-align: left;">
							<div
								style="vertical-align: bottom; position: relative; display: inline-block; margin: 20px 20px 0px 20px; width: 90%; background: none;"
								id="text_6f4bea7e">
								<div style="margin: 10px; display: block;"
									id="text_6f4bea7e_padding">
									<div style="text-align: left;">
										<span
											style="font-size: 26pt; font-family: 'Open Sans'; color: #333333;">ABOUT</span>
									</div>
								</div>								
							</div>							
							<div
								style="vertical-align: top; position: relative; display: inline-block; margin: 0px 0px 0px 20px; width: 90%; min-height: 300px; background-color: #FFFFFF;"
								id="container_430e85af">
								<div style="margin: 10px; display: block;"
									id="container_430e85af_padding">
									<div style="text-align: left;">
										<span
											style="white-space: pre-wrap; font-size: 11pt; font-family: 'Open Sans'; color: #434343;"
											th:text="${student_desc}"><br /> <br /> </span>
									</div>
								</div>
							</div>
						</div>
						<table th:if="${recommendations}">
							<tr>
								<td colspan=2><span
									style="font-family: 'Open Sans'; font-size: 18pt; color: #434343;">RECOMMENDATIONS</span>
								</td>
							</tr>
							<tr th:each="r:${recommendations}">
								<td>
									<div
										th:style="'height:90px; width:90px; border-radius:100px; background-size:cover; background-image: url('+ @{'/view-profile-pic/' + ${r.recommender_id}} +');'"></div>
								</td>
								<td style="text-align: left;">
									<table>
										<tr>
											<td class="recc"><span
												style="font-family: 'Open Sans'; font-size: 11pt; color: #434343;">
													<a
													th:href="@{'/view?id=' + ${r.recommender_id}}"><span
														style="float: left; font-size: 14pt; font-weight: bold;"
														th:text="${r.recommender_name}"></span></a>
											</span></td>
										</tr>
										<tr>
											<td><span
												style="font-family: 'Open Sans'; font-size: 11pt; color: #434343;">
													<i class="fas fa-quote-left"
													style="font-size: 22pt; color: #36A5E9; margin-right:10px;"></i><span
													th:text="${r.recc_msg}"></span>
											</span></td>
										</tr>
									</table>
					</div>
				</div>
				<div
					style="box-sizing: border-box; vertical-align: top; min-width: 300px; position: relative; float: left; margin: 20px 0px 20px 0px; width: 25%; background-color: #FFFFFF; border: 1px solid #DDDDDD;"
					id="container_54e3dd05">
					<div style="margin: 10px; display: block;"
						id="container_54e3dd05_padding">
						<div style="text-align: center;">
							<div
								style="box-sizing: border-box; vertical-align: top; position: relative; display: inline-block; width: 100%; min-height: 50px; background: none; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #DDDDDD;"
								id="container_bfe47d7">
								<div style="margin: 10px; display: block;"
									id="container_bfe47d7_padding">
									<div style="text-align: left;">
										<span
											style="font-size: 18pt; font-family: 'Open Sans'; color: #434343;">PROFILE</span>
									</div>
								</div>
							</div>
							<div th:if="${personalisation}" th:object="${personalisation}"
								style="vertical-align: top; position: relative; display: inline-block; width: 100%; min-height: 62px; background: none;"
								id="container_55e5f313">
								<div style="margin: 10px; display: block;"
									id="container_55e5f313_padding">
									<div style="text-align: left;">
										<div th:if="*{skills}">
											<span class="profile">SKILLS</span>
											<ul>
												<th:block>
													<li th:each="skill : *{skills}" th:text="${skill}"></li>
												</th:block>
											</ul>
										</div>
										<div th:if="*{work}">
											<span class="profile">EXPERIENCE</span>
											<ul>
												<th:block th:each="wrk : *{work}">
													<span class="subheading" th:text="${wrk.job}"></span>
													<li th:if="${wrk.company}" th:text="${wrk.company}"></li>
													<li th:text="${wrk.desc}"><br /></li>
													<li th:if="${wrk.skills}" th:text="${wrk.skills}"></li>
													<li th:if="${wrk.st_date} and ${wrk.end_date}"
														th:text="${#dates.format(wrk.st_date, 'dd-MM-yyyy')}+'to'+${#dates.format(wrk.end_date, 'dd-MM-yyyy')}"></li>

												</th:block>
											</ul>
										</div>
										<div th:if="*{education}">
											<span class="profile">EDUCATION</span>
											<ul>
												<th:block th:each="edu : *{education}">
													<span class="subheading" th:text="${edu.course}"></span>
													<li th:if="${edu.institute}" th:text="${edu.institute}"></li>
													<li th:if="${edu.board}" th:text="${edu.board}"></li>
													<li th:if="${edu.year}" th:text="${edu.year}"></li>

												</th:block>
											</ul>
										</div>
										<div th:if="*{project}">
											<span class="profile">PROJECT</span>
											<ul>
												<th:block th:each="pro : *{project}">
													<span class="subheading" th:text="${pro.name}"></span>
													<li th:if="${pro.desc}" th:text="${pro.desc}"></li>
													<li th:if="${pro.tech}" th:text="${pro.tech}"></li>

												</th:block>
											</ul>
										</div>
										<div th:if="*{communities}">
											<span class="profile">COMMUNITIES</span>
											<ul>
												<th:block th:each="cmn : *{communities}">
													<span class="subheading" th:text="${cmn.name}"></span>
													<li th:if="${cmn.website}" th:text="${cmn.website}"></li>

												</th:block>
											</ul>
										</div>
										<div th:if="*{awards}">
											<span class="profile">AWARDS</span>
											<ul>
												<th:block th:each="awr : *{awards}">
													<span class="subheading" th:text="${awr.name}"></span>
													<li th:if="${awr.year}" th:text="${awr.year}"></li>
													<li th:if="${awr.website_of_org}"
														th:text="${awr.website_of_org}"></li>
												</th:block>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
</body>
</html>